[2015-10-09 09:21] juanchopanza opened #76 "Some docstrings cause severe sphinx errors"
e.g. in `NeuroM/neurom/view/common.py`:

    SEVERE: Unexpected section title.

    Options
    ----------

It seems sphinx doesn't like `----------`.

[2015-10-09 09:33] juanchopanza opened #77 "readthedocs documentation incomplete"
The [readthedocs documentation](http://neurom.readthedocs.org/en/v0.0.10/api.html) is missing some modules and classes. Contrast with locally build or [the pythonhoster.org release version](http://pythonhosted.org/neurom/api.html). See specifically links for `neurom.ezy` and `neurom.ezy.neuron`. These are dead in the `readthedocs` version.

[2015-10-09 12:26] #76 closed

[2015-10-09 12:26] juanchopanza commented on #76
Resolved.

[2015-10-12 09:28] juanchopanza opened #84 "Errors in examples/soma_radius_fit"
There are various errors in soma_fit. These were not caught because the filename doesn't end with `.py`. Anyway, some of these are styling issues, but others are real errors.

Pep8
====

examples/soma_radius_fit.py:68:64: W291 trailing whitespace
examples/soma_radius_fit.py:89:46: E231 missing whitespace after ','
examples/soma_radius_fit.py:92:46: E231 missing whitespace after ','
examples/soma_r

[2015-10-12 09:29] juanchopanza commented on #84
@lidakanari Could you look at this one?

[2015-10-12 09:31] lidakanari commented on #84
Yes, that's on me. I'll take a look once I have some time.

[2015-10-12 09:41] juanchopanza opened #86 "make lint does not check app files"
Python application scripts stored in `apps` do not appear in the list of files that are checked with pep8 and pylint using the `make lint` command. The reason is that currently only files with the `.py` extension are considered. This means apps can make it into the repository with unchecked errors.

[2015-10-12 20:58] juanchopanza commented on #86
Fixed https://github.com/BlueBrain/NeuroM/pull/88

[2015-10-12 20:58] #86 closed

[2015-10-13 09:45] juanchopanza commented on #77
Following [readthedocs' own documentation on the build process](http://read-the-docs.readthedocs.org/en/latest/builds.html), I tried to replicate the issue with the following commands from a clean clone of the `Neurom` repository:

    virtualenv --system-site-packages venv_doc
    . venv_doc/bin/activate
    pip install -r requirements_dev.txt
    python setup.py install
    cd doc/source/
    sp

[2015-10-13 09:49] juanchopanza commented on #77
The relevant warnings from the log file found [here]() are

    [autosummary] generating autosummary for:   _neurom_build/neurom.analysis.morphmath.angle_3points.rst, _neurom_build/neurom.analysis.morphmath.average_points_dist.rst, _neurom_build/neurom.analysis.morphmath.path_distance.rst, _neurom_build/neurom.analysis.morphmath.point_dist.rst, _neurom_build/neurom.analysis.morphmath.point_dist2.r

[2015-10-13 14:13] juanchopanza commented on #84
Fixed with pull request #97

[2015-10-13 14:13] #84 closed

[2015-10-14 21:04] juanchopanza commented on #77
The issue seems to have been the absence of the `h5py` module on the readthedocs build environment. This was fixed by mocking out that module in pull request #105.

[2015-10-14 21:04] #77 closed

[2015-10-16 11:33] lidakanari opened #113 "Decide on the parameters that should be saved for a uniform distribution."
In the example of synthesis_json the (min, max) boundaries are overwritten by the fitted parameters when the optimal distribution is uniform.

This should not be the case, so we have to define a clear representation.

[2015-10-16 13:28] juanchopanza opened #116 "neurom.ezy.load_neurons to work with list of filenames"
Currently we have

* `neurom.ezy.load_neuron(filename)`: loads from a file name
* `neurom.ezy.load_neurons(directory_name)`: loads set of neurons from all morphology files in a directory.

It would be very useful to have `neurom.ezy.load_neurons` work with a list of filenames.

[2015-10-19 07:01] juanchopanza commented on #116
Pull request #118 implements this and similar functionality for `ezy.load_population`.

[2015-10-19 14:01] lidakanari commented on #113
So in the current instance (Mon 19/10/15) of synthesis_json example the parameters of the uniform fit are overwritten by the user's choice for (min, max). Is this the optimal solution?

[2015-10-19 14:56] juanchopanza commented on #113
No, that isn't the desired behaviour. But I can't see that in the code. Do you have a simple code sample that would reproduce this behaviour?

[2015-10-19 15:04] lidakanari commented on #113
Sorry, my bad. Currently, the uniform is extracted from the fit (since the uniform distribution is returned before the min, max check of the user). So, the min, max of the user are ignored in the case of uniform distribution.

[2015-10-19 16:59] #113 closed

[2015-10-19 16:59] #116 closed

[2015-10-22 09:43] wvangeit opened #130 "Disable h5py loading when instantiating swc morphology ?"
Would it be possible to only load h5py when loading .h5 morphologies ?
I was trying to load an swc morphology, but I got as error that h5py is not installed. I guess h5py is not necessary in code that only uses swc morphologies ?

h5py is also not set as dependency for pip, so it generated an error after installing NeuroM using pip.

[2015-10-22 09:49] wvangeit opened #131 "Loading of Allen Brain swc fails"
When trying to load a morphology available on the Allen Brain website, I get an error.
The cell is:
http://celltypes.brain-map.org/mouse/experiment/morphology/313861608
direct download:
http://celltypes.brain-map.org/api/v2/well_known_file_download/464113244

    import neurom.ezy
    morph = neurom.ezy.Neuron('Pvalb-IRES-Cre_Ai14_IVSCC_-165874.04.02.01_464113242_m.swc')

generates:

Traceback (mo

[2015-10-22 13:12] juanchopanza commented on #131
The loading of ezy neurons has changed:

    from neurom import ezy
    morph = ezy.load_neuron('Pvalb-IRES-Cre_Ai14_IVSCC_-165874.04.02.01_464113242_m.swc')

Using that, the morphology looks OK (soma, 8 neurites). Please let me know if there is anything in the documentation that uses the old-style loading.

[2015-10-22 13:27] juanchopanza commented on #131
See fix to README.rst in pull request #132.

[2015-10-22 14:34] wvangeit commented on #131
Yes, indeed, got the example from the front page README :-)

[2015-10-22 14:36] wvangeit commented on #131
Tried with load_neuron, the error is gone now. Thanks.

[2015-10-22 14:40] juanchopanza commented on #131
OK, I'd say that was a documentation bug, now fixed.

[2015-10-22 14:40] #131 closed

[2015-11-08 11:59] juanchopanza opened #149 "ipython notebook doesn't load"
The ipython notebook has merge conflicts, and so is broken and fails to load. See [the raw file](https://raw.githubusercontent.com/BlueBrain/NeuroM/master/ipynb/neurom.ipynb), and search for `<<<<<<<`.

[2015-11-08 12:00] juanchopanza commented on #149
@eleftherioszisis could you have a look at this?

[2015-11-08 17:04] eleftherioszisis commented on #149
Hmm this is peculiar. When I uploaded it it was working fine and the preview on github was working as well. I tried to run it now but it fails to load as you said. Any ideas how/why it became corrupted?

[2015-11-08 17:10] juanchopanza commented on #149
No idea. As far as I can see, the only commits are yours. It looks like it should be easy to fix though.

[2015-11-08 18:11] eleftherioszisis commented on #149
ok I fixed the merge conflicts in the notebook. (It's the last commit in the monotonic check pull request)

[2015-11-11 12:15] juanchopanza commented on #149
This has been fixed by @eleftherioszisis

[2015-11-11 12:15] #149 closed

[2015-11-16 10:32] mgeplf opened #156 "Tree comparison assumes node contents"
The comparison here:
https://github.com/BlueBrain/NeuroM/blob/master/neurom/core/tree.py#L282

Assumes that the node is slice-able, which isn't always the case.

[2015-11-16 11:01] eleftherioszisis commented on #156
The loop is iterating over the values of the nodes, which are sliceable, aren't they?

[2015-11-16 11:50] mgeplf commented on #156
Not necessarily, it's a generic tree, so the value could be anything: an int, another class, a dictionary, etc.  Also, assuming 4 elements isn't always the truth.

For example, in test_tree.py,
doing 'REF_TREE == REF_TREE' will fail:
*** TypeError: 'int' object has no attribute '__getitem__'

[2015-11-16 12:19] juanchopanza commented on #156
I agree with @mgeplf. The tree type makes no assumptions about the types of the nodes. These assumptions are made in other modules, such as `analysis.morphtree`. So I think this comparison could be moved out to a different module, and not set as "equality" for a tree. Better allow different ways of comparing trees.

[2015-11-16 12:43] eleftherioszisis commented on #156
Indeed, I made that assumption when I created it and now I see why it does not belong there. Should I move it to morphtree?

[2015-11-16 13:13] juanchopanza commented on #156
Yes, I think so, and remove the `__eq__` and call the comparison function explicitly where needed. That will be much clearer.

[2015-11-19 10:11] wvangeit opened #159 "NeuroM documentation link on front page"
NeuroM has a very nice documentation on readthedocs.org. It would be useful to put a link to this documentation on the github front page (readme). (I couldn't find a link on the main page)

[2015-11-19 10:40] juanchopanza commented on #159
It is there. Click on the "docs | latest" badge.

[2015-11-19 10:44] wvangeit commented on #159
Ok. But might still be useful to mention it in a header, I didn't see this (even after actively looking for it). I'm not sure a general user will look at all these badges.

[2015-11-19 10:49] eleftherioszisis commented on #159
It never occurred to me that docs badge is a button! I think that Werner is right on this one. At first glance it appears as a colorful way to display the status of the tests, codecov and the state of documentation.

[2015-11-19 10:50] juanchopanza commented on #159
I thought that was quite standard. I'll add something more verbose.

[2015-11-20 08:01] juanchopanza commented on #156
@mgeplf The comparison has been moved out of the `Tree` class, and its `__eq__` operator removed. Does this look OK now?

[2015-11-22 15:35] eleftherioszisis opened #161 "Soma.center as a class property"
Currently, the center of the soma is set when the soma is created and its value is reflected in the list of the soma points. If its value is changed, the respective point in the point list is not changed as well which leads into having to take into account both the points and the soma center for rotations, translations.

Wouldn't it be more convenient if center was a soma property (using @property

[2015-11-22 15:53] juanchopanza commented on #161
Yes, that makes sense. So the center would be obtained on the fly from the points, and affine transformations would be bone on the points, right?

[2015-11-22 17:11] eleftherioszisis commented on #161
Exactly.

[2015-11-22 17:25] juanchopanza commented on #161
Do you want to make the changes or shall I?

[2015-11-22 19:46] eleftherioszisis commented on #161
I can do it. Not sure though if I will do it before Tuesday.
I wish I could run the tests from my laptop. (The import h5py error still persists...)

[2015-11-23 07:56] juanchopanza commented on #161
See pull request #162. However, thinking of it, this shouldn't be necessary to transform a soma. The transformed soma could and probably should be build from a set of transformed points from the original.

[2015-11-23 08:40] eleftherioszisis commented on #161
Yes it is possible to use make_soma to create the new soma, but I wanted it to be clear and not create an extra copy of the points, transform it and the make the new soma which would require to put building code in the transform.py.

[2015-11-23 11:22] wvangeit opened #164 "Is ezy module necessary ?"
I don't completely understand the rationale behind the 'ezy' module. Is it really necessary ? It creates some overhead when creating neurom scripts (and I try to avoid 'from ... import ...' statements to avoid namespace pollution)
It's also a pity it's not automatically imported together with neurom.

I know that I could
from neurom import ezy as neurom
but that's quite hacky

[2015-11-23 11:25] wvangeit opened #165 "Dendrogram example remarks"
I have a couple of remarks regarding the dendrogram example.
(https://github.com/BlueBrain/NeuroM/blob/master/examples/dendrogram.py)
I've attached an example output.

- The triangles near the soma need to be fixed in some way
- The diameter have to show up much thicker. Ideally different scaling on x- and y-axes should be used (with an option to enable/disable it?).
- Will this function become pa

[2015-11-23 12:30] juanchopanza commented on #164
The rationale is that it is where we put very specific and _limited_ stuff. It is supposed to be for people who don't want to use iterators and transformations, and it greatly limits what you can do. I don't like it much, and I don't want to pollute the top level `neurom` module with it. I would rather spend time working on making the iterators and transformation functions easier to use. Let's say

[2015-11-23 12:33] wvangeit commented on #164
Ok, makes sense. As long as the final implementation ends up in the top level, it's ok. (The only unfortunate thing is that it will probably require a lot of script-rewriting from the users once the top level stuff becomes more powerful)

[2015-11-23 13:19] juanchopanza commented on #161
Implemented in pull request #162

[2015-11-23 13:19] #161 closed

[2015-11-24 10:47] lidakanari opened #166 "View of tree fails if tree has only one point if diameter = True option is selected"
This can be fixed with a try-except statement in the tree viewer.

[2015-11-25 09:52] jdcourcol opened #168 "morph_check fails if no config file is provided."
As per the documentation:
[code]
when you do that, morph_check will fail at https://github.com/BlueBrain/NeuroM/blob/master/apps/morph_check#L144

because the config dict does not contain a 'neuron_checks' key.

may be there should be a default config when the file is not provided.

[2015-11-25 10:02] juanchopanza commented on #168
Yes, there should have been a documented default. @eleftherioszisis can you look at this?

[2015-11-25 10:17] eleftherioszisis commented on #168
Sure, I initialized it to an empty list. Is there a default set of tests that I should put instead?

[2015-11-25 10:19] juanchopanza commented on #168
Whatever was being tested before you added the config file would be a reasonable starting point. We can re-evaluate it later.

[2015-11-25 10:41] lidakanari commented on #168
Yes, I think a reasonable starting point for the set of default checks is:

Does the cell have a soma?
Does it have basals?
Does it have axons?
Does it have apicals?
Does it contain zero length sections?
Does it contain zero length segments?
Does it contain zero diameter segments? (or points instead?)

[2015-11-25 10:45] eleftherioszisis commented on #168
So, if no config is provided, then the above will always be checked. Is that ok with everyone?

[2015-11-25 11:54] juanchopanza commented on #168
Sounds fine to me.

[2015-11-25 12:33] #168 closed

[2015-11-25 12:38] #156 closed

[2015-11-26 09:40] juanchopanza commented on #130
Fixed by #171

[2015-11-26 09:40] #130 closed

[2015-11-26 09:52] juanchopanza commented on #166
Note we will need a test morphology that shows this problem in order to test the solution. It can probably be built in place, but there has to be a test that would fail before a fix is applied.

[2015-11-26 09:56] lidakanari commented on #166
Yes, I can generate a trivial morphology for this test. Ok, I have in mind a relevant test that fails now.

[2015-11-26 10:32] #159 closed

[2015-11-27 09:43] juanchopanza opened #177 "duplicate point removal isn't really optional"
The removal of duplicate points in HDF5 files is only optional deep inside the implementation code. It should be optional at high level. It isn't obvious how to implement this, but we could give the neuron loading functions some optional keyword arguments that are passed on to the readers.

See related issue #178:  point removal should be applicable to all file types, not just HDF5.

[2015-11-27 09:47] juanchopanza opened #178 "duplicate point removal not applicable to all file types"
Duplicate point removal is only applied to HDF5 files. The reason for this is that by construction this format has duplicate points between adjoining sections. However, it would make sense to have a uniform treatment of data, where duplicate points can be removed *optionally* regardless of data format.

See related issue #177.

[2015-11-27 10:14] lidakanari commented on #177
There is a conceptual problem here that has to do with the construction of the two formats. This is not a removal of zero length segments that would check if two consecutive points are the same and remove one of them (I think that's what you are referring to) . This function only checks the beginning of a section! Here is why this is a problem:

1) swc assumes that the points are actual points, so

[2015-11-27 10:26] juanchopanza commented on #177
OK, so a first step would be to rename `remove_duplicates` to something more specific. But maybe it is OK to leave the functionality as is, with the option only used for testing and debugging purposes.

[2015-11-27 10:39] lidakanari commented on #177
Agreed. The name is not very informative and is actually a bit misleading. I'm waiting for a better proposal :)

[2015-11-27 12:30] juanchopanza commented on #177
Closing this as it comes from a misunderstanding.

[2015-11-27 12:30] #177 closed

[2015-11-27 12:31] juanchopanza commented on #178
Closing this as it stems from a misunderstanding.

[2015-11-27 12:31] #178 closed

[2015-11-27 12:35] juanchopanza opened #179 "Names remove_duplicates and H5.remove_duplicate_points are misleading"
The names  `remove_duplicates` and `H5.remove_duplicate_points` suggest all duplicate points are removed. However the action taken is to remove identical consecutive points that are on adjacent section boundaries. We need names that reflect that. Suggestions:
- `no_section_boundary_duplicates` and `H5.remove_section_boundary_duplicates`

[2015-11-27 18:36] a1eko opened #180 "Sholl diagram needed"
For compatibility with experimental data, a Sholl diagram is needed. Something like this:

[code]

[2015-11-30 10:22] juanchopanza commented on #180
@lidakanari @eleftherioszisis Any comments on this? I believe the possibility of implementing this has been discussed recently.

[2015-11-30 10:31] lidakanari commented on #180
Yes, indeed. This have been discussed as a possible implementation in the future. However, the code is a bit more complicated than the one described by Alexander. Here is the corresponding paper: http://www.sciencedirect.com/science/article/pii/S0165027014000272

First of all, I would propose that we concentrate on the extraction of the data in the Sholl analysis function and we leave the plotting

[2015-11-30 10:49] a1eko commented on #180
*"...an optimized approach: first define all the circles and then parse the tree once, calculating all intersections for all circles."*
Yes, it will be linear in the number of points, *n*. I suppose same algorithm is used for touch detections as well! If not, it could be as slow as *n^2*.

[2015-12-01 10:12] eleftherioszisis commented on #165
The dendrogram is now inside NeuroM. You can use it on both trees and neurons. In case of neurons the soma representation appears as well as in the example dendrogram. On the contrary, the trees are now generated separately and joined together when plotted, thus the ugly triangles are now gone.

from neurom.ezy import load_neuron
from neurom.view import view

n = load_neuron(path)
view.dendrogram(

[2015-12-02 12:39] #166 closed

[2015-12-03 12:25] jdcourcol opened #185 "document check.morphology"
Currently there is no documentation about these checks in: http://neurom.readthedocs.org/en/stable/definitions.html nor in latest

that would be appreciated.

[2015-12-03 14:23] juanchopanza commented on #185
Agreed. I'll start a section on the documentation, then we can gradually add pieces.

[2015-12-14 13:26] juanchopanza opened #187 "Provide uniform morphology check behaviour"
The morphology checkers in `neurom.check.morphology` artibrarily return `True`, `False` or collections of information. For validation tools, it would be useful to have a simple pass/fail interface for each checker and for an ensemble of checkers.

[2015-12-14 13:38] lidakanari commented on #187
That could be tricky. Sometimes contradictory tests should be True in order to define the morphology as good. For example the check "Does it has apical?" should be True if the cell is a PC, but False in the cell is IN. Is there a nice way to generalize this concept, because apparently we cannot assume that the cell will be a PC or an IN a priori.

[2015-12-14 13:42] juanchopanza commented on #187
I think the point here is to make sure tests return False when they fail, and True when they pass. That's all. How you determine pass or fail conditions is a separate issue.

[2015-12-14 13:47] lidakanari commented on #187
Ah, ok. If this is independent of the 'pass/fail' definition it makes sense to return a True/False statement.

[2015-12-15 15:41] #187 closed

[2015-12-18 15:23] a1eko opened #191 "Non consecutive IDs"
I get an error "Non consecutive IDs found in raw data" for SWC files created by Pneumatk software. The files are correct. SWC standard requires only increasing IDs, ie ID_parent < ID_child, but NeuroM raises exception if there is a gap between the parent ID and all its children. For example, in the file

    1 1 0.0 0.0 0.0 1.0 -1
    3 3 1.0 0.0 0.0 0.1 1
    4 3 2.0 0.0 0.0 0.1 3

NeuroM wants t

[2015-12-18 15:44] juanchopanza commented on #191
We followed [this specification](http://research.mssm.edu/cnic/swc.html). In it, here is this:

    n T x y z R P
    n is an integer label that identifies the current point and increments by one
    from one line to the next.

Do you know of a different SWC "standard"? If so, a reference would be good.

[2015-12-18 15:53] lidakanari commented on #191
Which *generally* agrees with the second swc format description I could find :)

http://www.neuronland.org/NLMorphologyConverter/MorphologyFormats/SWC/Spec.html

"integer value, *generally* continuous, ..."

[2015-12-18 15:54] juanchopanza commented on #191
@lidakanari Do you think we should look into lift this restriction?

[2015-12-18 16:27] lidakanari commented on #191
If the rest of the structure is well defined, we don't really need this constraint.

[2015-12-18 16:30] a1eko commented on #191
I refer to neuromorpho.org (http://neuromorpho.org/myfaq.jsp, "What is SWC format?"): "The index for parent compartments are always less than child compartments." This follows original definition by Cannon et al, 1998 ( http://www.sciencedirect.com/science/article/pii/S0165027098000910). Thus the continuity requirement seems to be excessive.
In fact, it is sufficient for IDs to be unique and defin

[2015-12-18 17:14] juanchopanza commented on #191
It required some changes to the code, but  hopefully pull request #192 fixes this.

[2015-12-18 19:51] berthelm commented on #191
Hi Alexander:

I have taken this definition to be the one that specifies swc

http://research.mssm.edu/cnic/swc.html

and here the first one (or more) is the soma and has id 1, so the first child must have parent id 1 and given that ids have to increment by 1 it gives the restriction that ids must be consecutive integers.

This may mean there are competing definitions of “swc format”.

Julian

On

[2015-12-19 10:10] #191 closed

[2016-01-04 13:30] chalimou opened #194 "Extract bifurcation angles from an L5TTPC1 population"
Hi,

I created 100 L5TTPC1 morphologies with morphsyn in L5TTPC1_nancy. When I run the script extract_feature.py (see below), I get the following problem. The interesting bit is that the problem exists only for TreeType.all and NOT for TreeType.basal_dendrite. For the first morphology, isolated in the directory L5TTPC1_one everything works fine, too!

nancy

[code]

-------------------------
extra

[2016-01-04 14:40] juanchopanza commented on #194
Did you manage to reproduce the problem with a single file? If so, could you send it? If not, could you put the data somewhere I can access it (for example, nfs?)

[2016-01-05 08:56] chalimou commented on #194
Hi, this is exactly the problem :) I just put the first cell on a separate directory and run it but everything works fine for that! It's only for the whole population of 100 cells that TreeType.all does not work. TreeType.basal_dendrite works for the population. I'll now try small populations and let you know. Nancy

[2016-01-05 09:31] chalimou commented on #194
Now, I think I localised the cell that causes the problems: It's the 37th one. if you run the script:

--------------------------
from neurom.ezy import load_neurons
from neurom.core.types import TreeType

def extract_feature(data_dir, feature, neurite_type=TreeType.all):
    population = load_neurons(data_dir)
    feature_data = [getattr(n, 'get_' + feature)(neurite_type=neurite_type) for n in po

[2016-01-05 09:57] juanchopanza commented on #194
Sorry, I cannot reproduce the problem. Here is a simple script that attempts to reproduce what I think you did. For the record, this is the kind of code you should submit. A script that can be simply run to reproduce the reported issue.

[code]

[2016-01-05 17:18] chalimou commented on #194
Hi Juan, can you do me a favour? I think I sent you the wrong cell. It's the cell with ID35 that causes me the problems and not with ID36. I'm attaching the script test.py and the ID35 cell below. Could you run it in your environment  when you find a minute? Thanks very much and sorry for the mess :) nancy
[cell35_script.zip](https://github.com/BlueBrain/NeuroM/files/78719/cell35_script.zip)

[2016-01-06 07:55] juanchopanza commented on #194
I can reproduce it now. I will have a look at it.

[2016-01-06 09:04] juanchopanza commented on #194
I found the problem: `morphmath.angle_3points` is not robust against collinear vectors. I changes the implementation for a more robust one (after adding obvious tests that should have been there in the first place). See pull request #195.

[2016-01-06 09:32] chalimou commented on #194
thanks very much Juan! I think there are no embarrassing bugs, embarrassing was to send you the wrong cell and let you search in the wrong place :)

nancy
On 06 Jan 2016, at 10:04, Juan Palacios <notifications@github.com<mailto:notifications@github.com>> wrote:

I found the problem: morphmath.angle_3points is not robust against collinear vectors. I changes the implementation for a more robust one

[2016-01-06 11:28] #194 closed

[2016-01-06 11:29] juanchopanza commented on #194
Fixed with #195.

[2016-01-08 12:48] juanchopanza opened #196 "Disconnected neurite fragment passes morph_check"
The test file `test_data/swc/Neuron_missing_ids.swc` has a disconnected axon, i.e. a point in the axon has a parent that does not exits. This should fail `morph_check`, but it passes:

[code]

[2016-01-08 16:46] #196 closed

[2016-01-08 16:46] juanchopanza commented on #196
Now the offending file produces the following output:

[code]

[2016-01-14 12:50] chalimou opened #202 "Access the individual neurites of a specific tree type (ex. basal dendrite)"
Hi,
for the validation of the basal ganglia I  have the following case: I need to examine a feature for each neurite depending on the TreeType. According to the results I keep a subset of the neurites for further analysis. I would like an easy way to access the basal trees one by one to analyse them separately.

Example:
Eleftherios did what I wanted the following way, but it seems too much for my

[2016-01-14 13:37] eleftherioszisis commented on #202
For example it would be nice if it was possible to do:
[code]
and obtain the subset of the neurites of choice for further analysis by the user.

[2016-01-14 13:46] juanchopanza commented on #202
You can get a list with basal dendrites like this:

    basals = [b for b in nrn.neurites if b.type == TreeType.basal_dendrite]

It is a basic python pattern that is worth learning. For an iterable `x` (for example, a list), get the elements satisfying a condition:

    x = [1,2,3,4,5,6]
    y = [i for i in x if i < 4]

Here, `y` will contain `[1, 2, 3]`.

[2016-01-14 13:49] eleftherioszisis commented on #202
I have to admit that this is much simpler :P

[2016-01-14 14:32] lidakanari opened #203 "Compute histogram of dendrite/axon density"
Dan reports that the user needs a function to get the density (length or volume) of a tree along a selected axis (given by a user-defined vector). The correct fraction of each segment should be represented in each bin. This requires a function to locate each segment in space, so that we can compute intersections between a segment and a plane.

[2016-01-14 14:42] mgeplf commented on #202
Just FYI, it's generally preferable style to use the list comprehensions, unless you have a predicate function already made, or you will be reusing the same predicate function.

I think this sums it up well:
http://stackoverflow.com/a/33610283

[2016-01-14 15:34] juanchopanza commented on #165
@wvangeit is there anything left to discuss in this issue? If not, I will close it.

[2016-01-14 16:02] chalimou commented on #202
Thank you very much for your fast help guys!! I'm happy with the suggestions :) Maybe a small neuroM course for dummies would be a good idea. We could invite people from the lab, too. I'll bring it to discussion when you come back from London. Nancy

[2016-01-14 16:11] juanchopanza commented on #202
Sure, we could do that. I am in the process of simplifying the iterations over neurites, so I would wait until that is done before doing a course or tutorial.

[2016-01-14 16:11] #202 closed

[2016-01-14 16:11] liesbethvanherpe opened #204 "Trouble reading a large set of morphologies"
I have trouble reading a large set of morphologies in .h5 format.

[code]

results in `"IOError: unable to open file (File accessibilty: Unable to open file)"`

I tried reading the files one by one with

[code]

and it seems I can read about 1016 files. The problem is not with a specific file (I checked); reading them in a different order stops at the same number of files.

Is it possible that fil

[2016-01-14 18:34] eleftherioszisis opened #206 "Adopt unified feature calculation output format (numpy arrays)"
In order to avoid complex handling of the results of the feature functions I would like to suggest that we adopt a "duck" format for the output of the latter even for functions such as "get_n_segments".

For example, if all the outputs were numpy arrays (bonus if the are flattened as well) then a special handling would not be necessary and the stat extraction would apply the same for any feature f

[2016-01-14 18:40] lidakanari commented on #206
I think this is a reasonable suggestion. @juanchopanza @mgeplf any objections - alternative suggestions?

[2016-01-15 06:55] juanchopanza commented on #206
I'm not sure I follow. Could you be more specific about which outputs you mean? Maybe if you add an example of something that would have to change it would be clearer.

[2016-01-15 08:45] juanchopanza commented on #204
@liesbethvanherpe Can you check that after fix #205 you can read all the files?

[2016-01-15 09:05] liesbethvanherpe commented on #204
I can, thanks!

[2016-01-15 09:34] juanchopanza commented on #204
Fixed by #205.

[2016-01-15 09:34] #204 closed

[2016-01-15 09:48] lidakanari commented on #206
I am not aware of anything that needs to change for the moment. This refers to the outputs of functions such as neuron.get_section_lengths(), neuron.get_...() as they are in ezy module. If those functions will become accessible through a different module this decision should be followed there as well.
I guess this proposal refers to the following problem that might occur: when we extract multiple

[2016-01-15 09:49] eleftherioszisis commented on #206
On top of that some feature funcitons produce integers. e.g.:
[code]
produces the result:
[code]
Instead it would be convenient if it produced the result
[code]
In order to process all the feature results in the same way and not perform complex handling.

[2016-01-15 11:49] wvangeit commented on #165
Hi,
The main points are solved. But still:
- We need units on the y-axis (maybe we don't even need an axis if we would have x/y scale bars)
- After calling 'dendrogram()' the figure window closes immediately if I don't put a pylab.show(). Maybe you can add an option as argument that enables/disables pylab.show() ?
(And a white background would also be nice, but I leave that up to you)

[2016-01-15 11:54] wvangeit opened #208 "Error when generating dendrogram for specific SWC morphology"
When loading the attached morphology with:

[code]

I get the following error:

[code]

[dendrogram_error.swc.zip](https://github.com/BlueBrain/NeuroM/files/91787/dendrogram_error.swc.zip)

[2016-01-15 12:11] juanchopanza commented on #165
Thanks for the information. Could you make separate issues for those two points?

[2016-01-15 12:16] wvangeit opened #209 "Units in dendrogram plots"
The dendrogram functionality of NeuroM should generate plots with units on the axes (or scale bars)

[2016-01-15 12:18] wvangeit opened #210 "Viewing dendrogram requires pylab.show() call"
After calling 'dendrogram()' the figure window closes immediately if I don't put a pylab.show(). Maybe you can add an option as argument that enables/disables pylab.show() ? (And a white background would also be nice, but I leave that up to you)

[2016-01-15 12:18] wvangeit commented on #165
Done

[2016-01-15 12:44] eleftherioszisis commented on #208
Can you please send me the specific cell by email?

[2016-01-15 12:45] wvangeit commented on #208
I attached it, no ?

[2016-01-15 12:45] eleftherioszisis commented on #208
Sorry, I'm blind....

[2016-01-15 14:53] eleftherioszisis commented on #208
The error was due to a trifurcation which is present in one of the neurites. I updated the dendrogram in order to account for multifurcations.

[2016-01-15 15:08] wvangeit commented on #208
Thx

[2016-01-15 15:13] #208 closed

[2016-01-15 15:41] lidakanari commented on #210
OK, I will fix this in the next commit.

[2016-01-15 15:46] eleftherioszisis commented on #209
Added the labels of the units which were in micrometers. You can also put custom labels or a title for example by passing as kwargs a dict with the following:

[code]

[2016-01-19 15:15] lidakanari commented on #210
About the background color, it can be chosen while you save the image. If white is what you need, just choose the option transparent=False (default is True and probably that's why it is not white :)
About the pylab.show, that is chosen by default now. To disable chose show_plot=False.

[2016-01-19 15:38] #209 closed

[2016-01-19 16:01] juanchopanza commented on #210
Fixed by #219.

[2016-01-19 16:01] #210 closed

[2016-01-20 10:16] mgeplf opened #221 "Getting test failures with matplotlib 1.5.1"
Seems 'add_collection3d' is no longer available on 'AxesSubplot':

[code]

matplotlib version:

[code]

[2016-01-20 10:26] juanchopanza opened #222 "Write function to unpack all trees in faulty SWC file"
Neurons require well formed component tree structures as input. Some experimental files have disconnected trees. Although these aren't SWC conforming, it is of interest to unpack all available trees into a collection so that morphometrics can be obtained from them.

[code]

[2016-01-20 11:07] lidakanari opened #225 "Summary of kstest scores from multiple distributions"
I need to get a summarizing score from a set of statistical tests between pairs of distributions that represent different features:

[code]

[2016-01-20 13:36] chalimou commented on #225
Different features have different distributions and it is not possible to average their p-values or even their scores (known as effect sizes in statistics). How can you average apples and oranges? You can only at some point decide whether apples or oranges are more important to you.

You could summarise scores only gained in nearly identical experimental setting, for example, when you test a drug

[2016-01-20 13:51] lidakanari commented on #225
I completely agree with you. However, we need a way to summarize the data because we are in need of a ranking function. This function is generic for any set of distributions. The user has to be careful to use a set of distributions that make sense for him.

So for example a normalization of the features is required if you really need to compare (or add) scores.

[2016-01-20 14:11] juanchopanza commented on #222
Implemented in #227.

[2016-01-20 14:50] juanchopanza opened #228 "neurom.iter_neurites should accept lists of trees"
Currently `neurom.iter_neurites` can deal with individual neurite trees, neurons and neuron populations. It should be extended to deal with iterables of of neurite trees (e.g. lists or tuples.)

[2016-01-20 15:26] chalimou commented on #225
If I understand right, the question is to summarise scores across features, in order to get a global score for the cell. This averaging across potentially different distributions and underlying processes is not possible by statistical means. I strongly discourage to provide a functionality like this because people tend to “press buttons” without thinking and blame the stupid results on the button

[2016-01-20 15:34] eleftherioszisis commented on #225
@chalimou consider a more detailed example:

We have one manually reconstructed neuron which is the ground truth cell g

Then we also have N algorithms (a1, a2, ..., aN) that automatically reconstruct this neuron.

So in order to sort these algorithms with respect to how good job they have done, we thought that we can extract the available features for each algorithm and sum the ks score with the

[2016-01-20 15:34] lidakanari commented on #225
First of all, we are not fitting distributions ;)

You have dataset1 -vs- dataset2 which is the section length of neuron1_version1 -vs- the section length of neuron1_version2 (you expect the differences to be minimal). That is not a distribution but a set of numbers that represent a feature. From this pair you get a score (ks, mann, any score). We need a way to combine the scores (not the fitted d

[2016-01-20 15:39] mgeplf opened #231 "SomaC center"
Hello,
The documentation states:
[code]

But I'm having problems confirming that the first point is the center of the soma on neuromorpho.org, could you please provide a pointer to this?

[2016-01-20 15:50] juanchopanza commented on #231
I can't find it either. I found this:

@lidakanari could you comment on this?

[2016-01-20 15:56] lidakanari commented on #231
I used this definition: http://neuromorpho.org/neuroMorpho/SomaFormat.html which apparently has been removed!!!

[2016-01-20 15:58] juanchopanza commented on #231
We can remove the reference to neuromorpho and say this is how we interpret a multiple point soma, in the absence of any means to know what it is supposed to represent. We could also think of some heuristics to guess what three or more points represent.

[2016-01-20 16:02] lidakanari commented on #231
So we should define the three types of soma by ourselves? (That seems like the only solution in the absence of a meaningful definition in the web).

[2016-01-20 16:03] lidakanari commented on #231
Update: new location found!

http://neuromorpho.org/SomaFormat.html

[2016-01-20 16:47] mgeplf commented on #231
Cool, thanks for finding that.  I read the quoted string as saying that the soma center should be the average of the contour points, which is also how the h5 calculates it.  Right now, I don't think that is happening: it's just picking the first point and assuming it's the center which means the soma.center property is confusing.

[2016-01-20 17:12] lidakanari commented on #231
It assumes that the first point contains those info. We definitely have to look into this and probably confirm it! I'd like to add this as a proper function but I'm still waiting for a concrete format for the soma structures.

[2016-01-21 09:48] berthelm commented on #225
Hi Eleftherios and Nancy:

but it looks like one is not averaging over features (which may have strange and different distributions)  but averaging over ks scores, which are distances that are bounded below by 0. So one is just adding up a series of non-negative numbers for each algorithm, and the sums are ranked according to their magnitude.

This seems ok to me, or am I missing something?

Julia

[2016-01-21 10:21] mgeplf commented on #231
I think I fixed it here: #233

Also, I think it would be a good idea to name the soma classes more descriptively:
SomaA -> SomaSinglePoint
SomaB -> SomaThreePoint
SomaC -> SomaContour

[2016-01-21 10:24] juanchopanza opened #234 "Give soma types meaningful names."
As suggested in #231. For example,

* `SomaA` -> `SomaSinglePoint`
* `SomaB` -> `SomaThreePoint`
* `SomaC` -> `SomaContour`

[2016-01-21 10:25] juanchopanza commented on #231
Fixed in #233.

[2016-01-21 10:25] #231 closed

[2016-01-21 10:58] mgeplf commented on #234
I think this is a good suggestion.

[2016-01-21 11:01] lidakanari commented on #231
I completely agree with @mgeplf !

[2016-01-21 11:12] eleftherioszisis opened #235 "load_trees fails to correctly load swc files without soma"
Original file:

[code]
So when I try:
[code]
I have as an output:
[code]
If now I add a fake soma, e.g:

[code]
It correctly loads the neurite:
[code]

[2016-01-21 11:34] mgeplf commented on #234
Did it here #236

[2016-01-21 12:02] juanchopanza commented on #234
If you say "fixed by #236" this gets closed automatically.

[2016-01-21 12:02] #234 closed

[2016-01-21 12:12] #235 closed

[2016-01-21 12:13] juanchopanza commented on #228
Fixed by #230.

[2016-01-21 12:13] #228 closed

[2016-01-21 12:13] #222 closed

[2016-01-21 12:14] #165 closed

[2016-01-21 12:15] chalimou commented on #225
thanks very much Eleftherios for the detail. This decision making falls in the category "common sense". You average the scores with a norm in a kind of loss-function (see optimization) in order to decide which reconstruction procedure is better. You might even weight the scores if you have favourite features. Then you say: the reconstruction procedure with the best overall score wins the race. The

[2016-01-21 14:39] juanchopanza opened #241 "load_trees() tree-action function is not applied"
In `load_trees(filename, tree_action=None)`, the tree action is not applied. The following should work:

[code]

This `tree_action` hook would typically be used to plug in e.g. tree type calculating and setting logic.

[2016-01-21 14:57] juanchopanza commented on #241
There was actually no problem.

[2016-01-21 14:57] #241 closed

[2016-01-22 09:26] #225 closed

[2016-01-22 14:21] juanchopanza commented on #206
I would propose that we map features to arbitrary feature extraction code, and use the mappings where applicable. So the problem of creating numpy arrays or a given dimension would be fixed in the feature extraction code. For example,

[code]

Or, even better,

[code]

[2016-01-22 14:24] lidakanari commented on #206
Ok, I will optimize the code for the feature extraction once we get back :)

[2016-01-22 14:34] #206 closed

[2016-01-28 13:17] juanchopanza opened #245 "morph_check to produce summary table for many files case."
Currently `morph_check` writes its output to `stdout`. The output is the single file output, repeated for each file. It would be useful to write out a table of check criteria vs. file name. Possible formats: CSV, JSON.

[2016-01-28 15:23] juanchopanza commented on #245
Implemented in #246.

[2016-01-28 15:23] #245 closed

[2016-01-28 16:51] eleftherioszisis commented on #221
Is this happening in your local machine?

I cannot reproduce it in mine, but it did occur in the jupyter notebook app in the collaboratory
 with:
[code]
 I still haven't figured out what exactly is causing it but it appears that it has to do with the

[code]
and
[code]
in combination with the
```plt.gcf ```
which returns the current figure in which all the neurites are plotted. These axes objects

[2016-01-29 10:42] mgeplf commented on #221
I'm only running the tests, not using anything else.

Which version of matplotlib are you using?

[2016-01-29 11:04] lidakanari commented on #221
Yes, this is an issue that I had in the past. After a lot of search I found that it has been generally attributed to a bug in specific matplotlib versions that do not seem to work with all the platforms.

The default we use is:
 matplotlib (1.3.1)

If you manage to find out what is wrong with this issue, it would be very helpful, but I couldn't find a way to overcome this issue, I just installed a

[2016-02-01 14:14] juanchopanza opened #247 "Re-factor morph_check into module + thin script"
Currently `morph_check` does a lot of work. It would be better to move most of the logic into a module, and let `morph_check` delegate to it. The module would export a function taking a path, optional config yaml file and return a dictionary of results.

[2016-02-01 15:18] orena1 opened #249 "get_features function"
Hi
In pneumatk there was a function named get_features, which:
[code]

It is possible to add this function to NeuroM (If it is already exist, I did not manage to find it)

Thanks.

[2016-02-01 15:26] juanchopanza commented on #249
We can probably provide similar functionality with an application, but first the functionality has to be better defined. The description above is too vague. We would need to know, for example, what features are of interest and how these should be represented (summary stats, full distributions, anything else?)

[2016-02-02 08:19] orena1 commented on #249
I assume the default option of this function will be to extract all available features, of course one can define a list of features and then only those features will  be extracted.

We would need to know, for example, what features are of interest and how these should be represented (summary stats, full distributions, anything else?)

I am not sure I understand the question correctly, in pneumatk

[2016-02-02 08:36] juanchopanza commented on #249
In general, you should not assume knowledge of `pneumatk` (not everyone knows that package), but rather concentrate on what the required features are. From the sample you provided, I can see some features we already implemented, and we routinely obtain those stats from populations of cells, so it wouldn't be too hard to provide them in CSV format.

"all available features" is a moving target, and

[2016-02-02 08:46] orena1 commented on #249
I did not know that...

Great thanks!

What exactly do you mean in not making sense biologically, can you please give me an example?

Sounds good, is there a place where I can see all the features that can be extracted? some kind of an available feature list, I did not mange to find one.

Thank you.

[2016-02-02 09:48] eleftherioszisis commented on #249
You can access the available features of a Neuron via three ways. You can load a neuron:
[code]
And then write a dot after n and tab completion to find all the possible functions on the object.

You can load the ezyNeuron object
[code]
and then do Neuron. and tab completion to see the available functions.

Or finally you can check the code for ezy.Neuron where will you find all the available funct

[2016-02-02 09:55] lidakanari commented on #249
I think that what is currently missing from the feature list that was provided in Pneumatk are spatial features, such as densities (horizontal, vertical, see issue  #203 ), sholl analysis (see  #180) and apical point definition, with all the features that can be derived from this. Please @orena1 add anything that I've missed.

[2016-02-02 09:58] lidakanari commented on #249
Also, I think this list:

[code]

is not exclusive, since it does not summarize all the features that can be extracted. For example, section branch orders or partition are not in the list, but can be computed using lower level functionality.

[2016-02-02 14:12] eleftherioszisis opened #251 "Yet Another Organization Discussion"
Hello all,

once more I would like to propose a couple of stuff for the organization of NeuroM in a more intuitive way. I will just write down my ideas and we can discuss it over time. I would appreciate it if we can have a fruitful discussion upon these ideas.

First of all, I think it would be easier and tidier if we had a dedicated module for features where we can develop the latter without hav

[2016-02-02 16:14] orena1 commented on #249
Thank you for the support!

That is great,.

I talked with some of my lab members, and they said the most useful features for classification are:

Total length of basal tree
Total volume/ surface are of basal tree
number of basal/apical trees.
diameter of basal/apical trees.

Spacial point distribution and density projected on all 3 axes
General orientation
Sholl analysis

The first chunk are alre

[2016-02-03 09:46] juanchopanza commented on #251
I agree with the de-coupling of the data types and the "features" functionality (it is what I have been trying to say from the beginning :-) ). The last proposal looks good to me. I had thought of a similar one with a string, but the enum has the advantage of failing early if the enum value name is miss-spelt, and of being listable and tab-completable in some interpreters. Still, I think most user

[2016-02-03 10:13] lidakanari commented on #251
Totally in favor of the proposed decoupling and getting rid of the ezy confusion! I think the proposal to have a module for features (a pure analysis module) where the neuron object is passed on and the features are given by an enum is a very tidy way to collect all this functionality together. This will also make it easier for a user to access all the available features and write scripts to call

[2016-02-11 12:39] lidakanari opened #256 "Application for the validation of a neuron against a population"
We need an application similar to morph_check for the automatic validation of a morphology. An example use-case is:
[code]
which should result in:
[code]

[2016-02-11 12:47] eleftherioszisis commented on #256
Maybe having also as an optional input the yaml configuration file with the selected features?

[2016-02-11 12:59] lidakanari commented on #256
Of course! The idea is to reproduce morph_check but with a different type of tests that will represent actual validations.

[2016-02-15 12:18] eleftherioszisis commented on #251
Ok, I think the features module is now populated and ready to be used.

There is only a small issue: ```functools.wraps``` decorator does propagate the docstring but not the function signature which leads in a generic signature ```func(obj, *args, **kwargs)``` which does reflect the function's signature.

The easiest way that I am aware of to fix this is to use the decorator module. May I add it i

[2016-02-15 12:30] juanchopanza commented on #251
I think `decorator` is fine. Any opinion on that @mgeplf ?

[2016-02-15 12:55] mgeplf commented on #251
I haven't really been following this.

Decorator seems fine.

WRT enum: is the enum automatically generated from the function names or how does that work?  I'm not wild about having to look the enum up, and then have to look up the function to know what it does, but it's really up to you guys.

[2016-02-15 13:22] juanchopanza commented on #251
Hi Mike,

I think we're dropping the enum because it turned out to be not very useful.

[2016-02-15 13:40] juanchopanza commented on #251
@eleftherioszisis So, in conclusion, you can use the `decorator` module in future development.

[2016-02-15 13:42] eleftherioszisis commented on #251
ok, thanks!

[2016-02-15 13:45] mgeplf commented on #251
Good to know about the enum, I think that's a good decision.

[2016-02-15 14:29] juanchopanza opened #262 "Make unpack_data function publicly available"
The `unpack_data` function has the role of unpacking an input file into a "raw data block" (RDB, a 2-dimensional `numpy` array) containing all the points in a neuron. It dispatches to parsers based on the input file type. Currently, it is used as an implementation helper in `neurom.io.readers.load_data`, but it would be useful to be able to call it directly in client code that only requires the RD

[2016-02-16 15:49] eleftherioszisis opened #264 "Neurolucida Reader Error"
Hello,
I was playing around with the new reader when a wild soma error exception appeared in an ascii file which has a soma. ([OH141120_A0_idA.ASC.zip](https://github.com/BlueBrain/NeuroM/files/132770/OH141120_A0_idA.ASC.zip))

I was curious, thus I put a print in the extract section function:
[code]
The output when loading the file is the following:
[code]

This file has its first soma token as "

[2016-02-16 15:53] mgeplf commented on #264
I'll have a look at it tomorrow

[2016-02-16 16:10] mgeplf commented on #264
See if this fixes it:
https://github.com/BlueBrain/NeuroM/pull/265

[2016-02-17 08:10] eleftherioszisis commented on #249
FYI there is now the features module which can be used to extract all the available features in NeuroM.

Example:
[code]

This two dictionaries provide an easy access to the neurite and neuron feature functions that reside in the same directory. You can check all the available features by calling the keys function:
[code]
Neurite features can be applied to neurites, a neuron or a population of neu

[2016-02-17 10:15] #264 closed

[2016-02-18 16:11] orena1 opened #268 "no __version__ in neurom"
Hi,
there is no ```__version__``` in neurom
[code]

[2016-02-18 16:22] lidakanari commented on #268
Hi Oren. Are you running NeuroM from a virtual environment? Could you try the instructions from here: http://neurom.readthedocs.org/en/stable/install.html and let me know if it works for a virtual environment installation?

[2016-02-18 16:30] orena1 commented on #268
Hi Lida,
I am not using virtualenv, I tried to install virtualenv but it did not work
[code]
So I can not test if it  ```neurom.__version__``` works in virtual environment

[2016-02-18 16:46] lidakanari commented on #268
Ok, I think that what you want is equivalent to:

from neurom import version

But since I'm not an expert on the versioning issues I will let @juanchopanza take a look at this.

[2016-02-18 16:48] juanchopanza commented on #268
`neurom` doesn't have a `__version__` attribute. You can check `neurom.version.VERSION`. I will add `neurom.__version__` for the next release.

[2016-02-18 17:50] #268 closed

[2016-02-19 11:07] lidakanari opened #271 "Find apical point in a tree"
This property is needed for many tasks (synthesizer, morphology release, classification of neurons, validation). The best approximation so far is the function available in Pneumatk, but it still does not give 100% correct results. Could we include this functionality in NeuroM?

[2016-02-19 12:13] eleftherioszisis commented on #271
Yes, I think that would be important to be included in NeuroM. If this algorithm is the best we can do to estimate this point by taking into account only the morphometrics of a cell (i.e. without electrical behavior), then we should use it.

[2016-02-19 12:32] eleftherioszisis opened #272 "z-jump check"
Another check that is important for morphologies, is the z-jump check.

In neurolucida, the reconstruction is of course in 3 dimensions but the user can only see in his/her screen a 2D slice of the 3D space. In order to navigate in the z-axis he/she has to roll the mouse scroll button. The z-jump takes place when the reconstructor thinks that he/she is at the correct height while tracking the neur

[2016-02-19 13:36] eleftherioszisis opened #273 "Glial cell cross section representation"
Currently, node cross section is assumed to be a circle, which does not convey enough information in order to represent glial cells.

According to Dan it would be sufficient if we could add one more parameter in the value array for each node which will reflect the real perimeter of the cell which will be imported from the file. The area of the cross section can be represented by a circle with equi

[2016-02-24 15:40] juanchopanza commented on #273
I can't really say how easy or disruptive this would be (but I suspect it would be problematic, as neurom is designed around the SWC format.) I think we can re-consider this when a data format specification and data samples become available.

[2016-02-25 09:42] dkeller9 commented on #273
Since we do not control the SWC format, it is impossible to change that standard on our own. I would be happy to update our h5 specification to reflect the desired glia cell additions, though. Would this be sufficient?

[2016-02-25 10:11] lidakanari commented on #273
I think it would be preferable to create an h5-glia specification (if the data are provided in h5 of course) and then have an swc-glia equivalent representation. We don't need to change the current specs but based on them create an extended version that includes the appropriate modifications for glia cells. Does that sound feasible?

[2016-02-25 10:11] dkeller9 opened #276 "mapping of sections/segments to neurom segments"
We need a mapping from our traditional BBP representation of sections and segments to NeuroM segments.

Traditionally, we have represented the neuron as sections and segments, and all the synapses in the column use this standard and reference section and segment. I would like to use NeuroM to extract synapse positions, but cannot because there is no mapping.

[2016-02-25 10:12] dkeller9 commented on #273
Okay, I'll do so. Basically, it just involves associating an extra number with each point in the morphology to represent perimeter of the cross section.

[2016-02-25 10:30] lidakanari commented on #276
We have the notion of sections - segments in NeuroM. The main issue is that the sections are not sorted. That means that the same neuron represented with a different order of sections in the morphology file will result in two different objects in NeuroM. As a result, if you want to extract the ID of a section globally, there is no way to ensure that this will be consistent. The solution would be t

[2016-02-25 10:40] juanchopanza commented on #273
I would imagine we would need a new spec, which could reference the current ones to avoid duplication. But better consult with @mgeplf  and @jdcourcol.

[2016-02-25 14:56] mgeplf commented on #273
Not sure there's anything I can add to this, as I don't know anything about it.

[2016-02-26 16:03] #262 closed

[2016-02-26 16:04] juanchopanza commented on #251
Is it OK to close this?

[2016-02-26 16:06] juanchopanza commented on #268
@orena1 FYI,[ `NeuroM 0.0.15`](https://pypi.python.org/pypi/neurom/0.0.15) has been released. It includes this change.

[2016-02-26 16:19] eleftherioszisis commented on #251
Sure, the only reason I was leaving it open, was to suggest the cleaning of neurom after m30, but we don't need an issue for that. :P

[2016-02-26 17:01] #251 closed

[2016-02-26 17:03] juanchopanza commented on #271
Do we have a clear description of an algorithm to do this, and that it means for results to be "correct" or not?

[2016-02-26 22:16] lidakanari commented on #271
I could write up a scheme of the current algorithm that is used to find the apical point. The problem is we don't have a clear description of the definition of the apical point (from biology). So your second point is practically what we are missing.

[2016-02-28 06:25] orena1 commented on #268
Great,
Thanks.

[2016-03-07 13:45] wvangeit opened #279 "Axes scaling when plotting morphology"
Based on feedback from @jdcourcol on the NeuroM figure generated here:
https://github.com/BlueBrain/BluePyOpt/blob/master/examples/l5pc/L5PC.ipynb
we were wondering if it wouldn't make more sense if NeuroM would keep the aspect ratio when plotting morphologies. The morphology looks a bit unnatural with the current default plotting.
(maybe this could be an option ?)

[2016-03-07 14:58] lidakanari commented on #279
Could you please define "keep the aspect ratio"? Do you need this to be X-range/Y-range in morphology to be equal to the range of the axes on the plot?

Currently, you can define this ratio by choosing the xlim - ylim. However, we could change the default values in order to be consistent with what is expected. Due to lack of specs for this the decision for the axes ratio was arbitrary, so I wouldn

[2016-03-07 15:13] jdcourcol commented on #279
We would like to have the scale to be the same in both axes. So that the shape of the neuron is not transformed. The resulting image does not need to be a square.

[2016-03-07 15:20] wvangeit commented on #279
And regarding 'specs'. Don't think we need this for this function, would rather make default what most people are expecting. Personally I think that most people would want to see a morphology in the same shape has if looking at a slice, but of course I'm not sure. That's why I was suggesting you could add it as an option (one way or the other).

[2016-03-07 15:29] lidakanari commented on #279
I agree with you Werner. There is no standard. So in the lack of a standard I just left the figure's axes to be defined a bit arbitrary. The option to choose them is to define xlim and ylim. So if you need something specific select the appropriate xlim, ylim.
In order to define a standard, I would like a intuition of what would be better:  do we need to have xlim == ylim? That will make the plot s

[2016-03-07 15:38] wvangeit commented on #279
There is no standard, and I really don't think we need one either: https://xkcd.com/927/
The only thing we're proposing is that the most used case is probably that 'it would look like in a slice', so it could be the default. Maybe it shouldn't, we don't know for sure, it's ok to close the ticket.
People can change the xlim, ylim every time they plot a morphology, but an option (e.g. keep_aspect_ra

[2016-03-09 15:09] wvangeit opened #280 "NeuroM in ipython notebook with 'matplotlib inline' enabled"
It looks like the NeuroM morphology viewer function doesn't work well (unless it's intentional) in an ipython notebook when '%matplotlib inline' magic is used instead of '%matplotlib notebook'.
I have attached a screenshot of this notebook
https://github.com/BlueBrain/BluePyOpt/blob/master/examples/l5pc/L5PC.ipynb
when it's run with 'matplotlib inline'

<img width="398" alt="screen shot 2016-03-09

[2016-03-09 18:38] eleftherioszisis commented on #280
I can confirm this bug and no, it is not intentional. However, I do not know what triggers it...

[2016-03-15 09:43] wvangeit commented on #280
Do you know when this might be fixed ? We need this for a demo on March 30, and need to know in advance if we can use NeuroM. Otherwise we might have to switch to another tool for this visualization.
Thanks.

[2016-03-15 09:47] berthelm commented on #280
Hi Werner,
I'll discuss it tomorrow when Juan is back,
CIao,

Julian

[2016-03-16 07:30] chalimou opened #281 "Feature tortuosity in NeuroM"
Tortuosity is defined as the ratio of the section path to the section radial distance and reflects the "curvature" of the neurite. It is an essential feature for the synthesis process and its validation, as well as the general evaluation of synthesised cells. I think it is useful to have it as a feature in order to avoid user errors.
The tortuosity can be computed since the features involved (sect

[2016-03-16 07:41] juanchopanza commented on #281
Could you specify what you mean by "section path"? You can edit your post to add more information.

[2016-03-16 08:18] chalimou commented on #281
The section path distance is the neurite length from soma to the end of the section. It is measured by the feature section_path_distances in NeuroM. The section radial distance is the euclidean distance from the soma to the end of the section given by section_radial_distances in NeuroM. If I can be sure that for a given cell the elements of the section_path_distances and section_radial_distances c

[2016-03-16 09:01] juanchopanza commented on #281
Yes, the iteration order for section functions is the same, so you can take the ratio.

[2016-03-16 09:03] juanchopanza commented on #280
If somebody who understands the problem, knows the desired behaviour, and understands the viewing code can provide a fix, I can make a release so that it can be used for M30.

[2016-03-16 09:33] chalimou commented on #281
great, thanks, the confirmation was what I needed.
nancy

[2016-03-16 21:23] boazmohar opened #282 "Distance from all node to all nodes"
Hi,
I am a new user of the toolkit, and I want to get the distance matrix from all nodes to all nodes.
A Breadth-first search implementation would help or a way to change the tree root.
Do you know of another way?

Thanks,
Boaz

[2016-03-16 22:05] juanchopanza commented on #282
Hi,

I'm not sure I fully understand. Do you mean the euclidean distance between each point in a neuron? Also, how would the breadth first traversal and tree root changing help with this?

[2016-03-16 22:08] boazmohar commented on #282
Hi,

Sorry for not being clear.
I want the minimal **path **distance between all nodes in the tree.
If I will do a BFS from each node I could build that matrix.
You have a function to get all the distances to the root, so if I will change the root, I could also build that matrix.

Boaz

[2016-03-16 22:18] lidakanari commented on #282
Hi Boaz,

I am assuming that what you need is the shortest path distance within the paths defined by the tree structure. For a rooted tree, the minimal path distance is defined using the property of the root (so it would not be very efficient to modify it). The fastest way I can think of is to take the path towards the root for a pair of nodes and find the branching point at which they merge. From

[2016-03-17 15:02] #280 closed

[2016-03-18 07:21] juanchopanza commented on #276
Wouldn't it be easier to do everything in terms of an indexing of points or segments, ignoring sections? It is easy to transform a (section_id, segment_id) pair into a unique segment_id, than build a section_id system in NeuroM.

[2016-03-18 08:27] juanchopanza commented on #282
Hi Boaz,

I'm not sure we will implement this functionality in `NeuroM`, but we may implement functionality that helps you achieve that end. But we'd need to know how exactly you define the distance between two arbitrary nodes in a neurite tree or cell (and also, are you talking about cells, or neurites?)

[2016-03-18 12:49] berthelm opened #285 "How to calculate a bifurcation angle when one or both children are zero distance from their parent"
The bifurcation angle is defined as the angle between the lines connecting a parent point to its two child points in a morphology. We explicitly exclude multifurcations beyond two. Many biological cells have artifacts in which one or both children are at zero distance from their parent. We do not want to reject these points in calculating the bifurcation angles as they often constitute a large sub

[2016-03-18 13:23] boazmohar commented on #282
Hi,

I am talking about neurites, and defining the shortest path you could make by following point along the tree.
I implemented this by loading an swc file using NeuroM, creating a pandas DataFrame with three series:
       1. Start node of each segment
       2. End node of each segment
       3. Segment length (weight)

I loaded it up with networkX that has this algorithm.
Here is the code for

[2016-03-21 14:31] #285 closed

[2016-03-22 10:45] juanchopanza commented on #280
FYI, this fix is included in the newly released NeuroM 0.0.16

[2016-03-22 10:45] wvangeit commented on #280
Thx !

[2016-04-04 09:11] lidakanari opened #288 "Feature to extract coordinates of all segments of a neurite"
This feature is needed for the density plots and to simplify the computation of more complex measurements. It should be something like:

NEURITEFEATURES["segment_x_coordinates"] should return a list of all the x coordinates of a structure as the mean (x_parent + x_child)/2 of each segment in this structure

[2016-04-04 14:21] eleftherioszisis commented on #288
In case you are interested, you can use something similar to the func below:

[code]

and then call it:

[code]

I just leave it here. :P

[2016-04-04 16:22] lidakanari commented on #288
Maybe this is optimal for the intermediate steps but I would like to avoid complications at the feature exposed to the user. So in the NEURITEFEATURES I would prefer to have the simplest implementation. In any case I'll let @juanchopanza decide which way is best.

[2016-04-13 10:02] lidakanari opened #295 "Bug in Branch order definition"
I found a reference to the definition of branch order : http://www.sciencedirect.com/science/article/pii/0165027086901160

![screenshot from 2016-04-13 11 52 45](https://cloud.githubusercontent.com/assets/14071443/14489654/b87e1fde-016e-11e6-8b86-d10771520c25.png)

According to this paper, which is used as reference in Neurolucida as well, branch order starts from 0. In our implementation, branch

[2016-04-13 11:11] juanchopanza commented on #295
@lidakanari Do you want to make the necessary changes, or shall I? I have time to do it right now.

[2016-04-13 11:55] lidakanari commented on #295
Please go ahead cause I have a course now.

[2016-04-13 13:12] #295 closed

[2016-04-15 10:15] eleftherioszisis opened #301 "Thoughts on design"
I would like to discuss some things that I have noticed in NeuroM. The suggestion that I present requires a lot of changes in order to be applied, thus I would like make clear that this post is more on thinking into the future than making any changes in the current structure of NeuroM. Let's begin:

We have adopted a tree representation of our data which is used throughout the modules via iterator

[2016-04-15 11:29] berthelm commented on #301
I remember having a discussion a long time ago about pneumatk where the way the data was stored was important to the efficiency of the analysis. I guess this is a general problem. As I don’t know python, I cannot contribute solutions, but it seems clear that a discussion of the points is important.

From my perspective, and if I imagine myself as a user, I would want this discussion to emphasize t

[2016-04-15 11:33] juanchopanza commented on #301
These are some valid points, especially since we're using `NeuroM` beyond the scope for which it was designed. It was never intended to read hundreds of cells simultaneously, so time spent loading small numbers of cells seemed like a reasonable trade-off for the flexibility given by the iterators. Also remember that one of the roles of the iterator system is to provide different *views* of a neuro

[2016-04-15 11:40] juanchopanza commented on #301
@berthelm My recollection is that loading cells with `pneumatk` would take much longer than with `neurom`. But maybe it was optimized for some types of complicated analysis that we don't perform with `neurom`. In any case, we are in a good situation in that we have something that "works", and we have many, many tests which allow us to change implementations without breaking anything.

Also note th

[2016-04-15 11:47] juanchopanza commented on #301
BTW, all the readers produce a 2D numpy array, which is then used to build the trees. This could be re-used in an alternative, less functional implementation. Here's how to get a raw data block and print its contents:

    from neuom.io.utils import load_data
    d = load_data('some_filename.swc) # or .h5 or .asc
    # the data block is in d.data_block
    for i, p in enumerate(d.data_block):

[2016-04-15 11:58] eleftherioszisis commented on #301
Yes indeed. I should have phrased differently the last paragraph. I meant to say that we can directly use the numpy data along with a connectivity matrix instead of creating the trees, as you point Juan.

[2016-04-15 13:02] eleftherioszisis commented on #301
You can find below the profiling of loading a population of 1000 cells. These are h5v1 morphologies, the loader of which is probably the faster of all three (If I am not mistaken). I removed the results with less than one second internal time.
[code]

[2016-04-15 13:10] juanchopanza commented on #301
Could you provide the script you used to get this, and maybe point me to some data? BTW, I would suspect the SWC loader is the fastest, because it doesn't have to do much work.

[2016-04-15 13:23] eleftherioszisis commented on #301
The script I used for the profiling is the following:
[test.zip](https://github.com/BlueBrain/NeuroM/files/221046/test.zip)

[code]
For the data I used the cells I 've attached, copied multiple times until they reached 1000. :P

[2016-04-15 14:05] juanchopanza commented on #301
I think we need to profile some analysis. Because if you don't do anything, you don't need the trees anyway. But when you start needing to analyse the morphologies, you need some structures set up that allow you to access the data, and these won't come for free. So we need to know if the tree making dominates, and then if the iterations add too much overhead.

[2016-04-15 14:09] eleftherioszisis commented on #301
I can add some profiling using the analysis. Probably not today though, because I unloaded the population and it will take some time to load again :P.

 Any suggestions? Should I randomly pick features, or would you like to see specific parts of the code in action?

[2016-04-15 14:11] lidakanari commented on #301
I have something in mind (that shows x200 of performance improvement) but I'm too busy at this time to look into this. If it is not urgent I can create an example next week.

[2016-04-15 14:12] juanchopanza commented on #301
I'm thinking maybe we can do it separately. Profile the analysis with a smaller number of cells, see if the iteration is particularly slow. We can do this next week.

@lidakanari x200 sounds pretty good. Is this in forming the trees, or unpacking the data, or something else?

[2016-04-15 14:15] eleftherioszisis commented on #301
Something a little bit irrelevant but I am curious. Does anyone have experience with the pypy and its JIT compiler which is supposed to lead to crazy speeds and memory consumption that are compared with CPython.

[2016-04-15 14:17] juanchopanza commented on #301
@eleftherioszisis No, I haven't. I have played around with `cython` though, which is cool (but adds a but of complexity on the packaging and installation side of things.) I was thinking it (`cython`) would be one of the obvious things to try if there are bottlenecks that can't be fixed with pure python.

[2016-04-15 14:21] lidakanari commented on #301
The "feature" I have in mind concerns the formation of sections. The comparison I made in the past is the following:
Take a relatively large dataset of trees. Compute sections (beginning and ending) with two different ways (neurom tree structure, adjacency matrix used in Pneumatk) and measure the relative times of the two methods.

[2016-04-15 14:25] eleftherioszisis commented on #301
Although I would love to learn cython, I think this should be left as the last resort because, as you said, NeuroM will be bound to quite a few dependencies and the code will become even more complicated if we start mixing languages (sounds cool though).

Even if pypy is proven worthy to use, it needs quite a few libraries. There is however the advantage that we do not need to change our code, but

[2016-04-18 12:45] eleftherioszisis commented on #301
An interesting profile. I ran the profile on Armando's analysis on a synthesized cell (from morphsyn) with a lot of segments (~170000). It took almost an hour for a single cell. It's interesting how ```as_elements``` behaves.
[code]

[2016-04-18 17:52] juanchopanza commented on #301
I think `path_distance` is a great candidate for memoization. It is worth memoizing the relevant function and checking again. Also, have you tried using [runsnakerun](http://www.vrplumber.com/programming/runsnakerun/) to visualize the profiling info? It makes it easier (at least to me) to see how the cumulative time spend in a function is shared among things called by that function.

[2016-04-19 11:09] eleftherioszisis commented on #301
Memoization might indeed make up for the overhead of the looping and the ```as_elements``` calls. I will try runsnakerun next time. I never tried to use something elegant for profiling since I'm lazy. :P

[2016-04-19 12:05] juanchopanza commented on #301
BTW, I tried this

    from neurom import ezy
    nrn = ezy.load_neuron('C060109A3.h5')
    %timeit ezy.get('section_path_distances', nrn)

and got 321ms. This neuron has 9187 segments. Where could I find a "slow" neuron (like the one you tested, but maybe not *that* slow.)

[2016-04-19 13:12] juanchopanza commented on #301
False alarm. The `ipython timeit` magic is not reporting that the first loop iteration is quite slow. I couldn't figure out how the memoization I mentioned could help, and that is because it doesn't! This is what I should have done:

     %timeit -r 1 -n 1 ezy.get('section_path_distances', nrn)

[2016-04-19 13:19] eleftherioszisis commented on #301
As for the slow cells, can't you generate multiple cells from Morphsyn with gradually increasing segment number in order to see how these functions explode in computational time? Maybe @liesbethvanherpe might have synthesized cells with less segments in order not to wait one hour for a profile. :P

[2016-04-19 13:26] juanchopanza commented on #301
@eleftherioszisis I won't do that at the moment. If we think there is a problem, then it should be demonstrable/reproducible already, no?

[2016-04-19 13:37] eleftherioszisis commented on #301
But, it is a problem when analysis on synthesized cells is practically impossible, isn't it?

If you use one of the synthesized cells with the hundred thousand of segments, then you' ll have the same result. I don't have the data because I ran the profile on Armando's PC. This is why I am suggesting that @liesbethvanherpe  can provide you with one of the cells.

[2016-04-19 13:43] juanchopanza commented on #301
OK, if it is a standard cell coming out of `morphsyn`, then that is fine.

[2016-04-19 19:48] juanchopanza commented on #301
Further info: for an "Armando" cell with ~165K segments, `load_neuron` is completely dominated by `remove_duplicate_points`.

[2016-04-19 20:18] lidakanari commented on #301
Profiling for this? I don't see it in Eleftherios results...

[2016-04-19 20:28] juanchopanza commented on #301
@lidakanari Using this:

    from neurom.ezy import load_neuron
    import cProfile
    cProfile.run("load_neuron('big_neuron.h5')", sort=1)

I get

[code]

I have some minor improvements on the way which speed up `find_tree_type` (see next commit.)

[2016-04-19 21:11] lidakanari commented on #301
Yes, I can see that remove_duplicate_points is costing a lot of computational time. It is obviously not optimized. Could it be?

However, this function depends on the number of section and not the number of segments, since it only checks the first point of each section. If I can provide any information to help you optimize this please let me know.

[2016-04-19 21:15] lidakanari commented on #301
@juanchopanza Also, I seem not to get any notification for your pull request so I didn't see the recent changes #302 at all...

[2016-04-19 21:42] eleftherioszisis commented on #301
I am wondering where's the most time spent in the ```remove_duplicate_points```. Is it the loop? In that case is it possible to be fully vectorized?

[2016-04-19 21:52] juanchopanza commented on #301
I'll have another look at `remove_duplicates` tomorrow. I need to see in more detail where exactly the time is being spent. I can't figure it out from the profiling table!

[2016-04-19 23:41] juanchopanza commented on #301
With the changes from #303 `remove_duplicates` is no longer the bottleneck. It is 2nd, close behind the `Tree` constructor.

[2016-04-21 10:52] juanchopanza commented on #301
FYI, with the latest changes, including #311, a quick profiling of `neurom.io.load_data('big_neuron.h5')` shows an improvement from ~5s to ~0.7s. The data unpacking part no longer dominates the neuron building, but I want to optimize it further because we're likely to keep it. 0.7s for a single neuron, no matter how large, still seems slow to me.

[2016-04-21 11:08] juanchopanza commented on #301
A similar profiling of the `section_path_distances` feature extraction with the same large neuron showed a reduction in time from ~450s to ~95s.

[2016-04-21 11:11] lidakanari commented on #301
That's amazingly better! Thanks a lot Juan :)

[2016-04-27 06:26] juanchopanza commented on #301
@eleftherioszisis @lidakanari Do you have an example of efficiently creating this connectivity matrix à la pneumatk, and some example that shows that it would be faster to calculate, e,g, the section path distances? Bear in mind that is needs to work for SWC, so it should be something that can be done from the raw data block.

[2016-04-27 08:10] lidakanari commented on #301
Here is my example about the adjacency matrix optimization:
[code]

with the following functions:

[code]

[code]

[2016-04-27 08:12] lidakanari commented on #301
Comparing Pneumatk - NeuroM times:

Pneumatk:
[code]

NeuroM:
[code]

[2016-04-27 08:25] juanchopanza commented on #301
OK, I take it that is on a laptop? `ezy.load_neuron` takes ~600ms on my desktop.

[2016-04-27 08:28] juanchopanza commented on #301
Unfortunately, it is difficult to make any sense of the adjacency matrix stuff with incomplete code.

[2016-04-27 08:34] lidakanari commented on #301
On a laptop yes (4 years old).

[2016-04-27 10:46] juanchopanza commented on #301
OK, well if anyone has a real example of, for example, efficiently getting the section path lengths starting from the raw data block that would be great.

[2016-04-27 10:54] lidakanari commented on #301
Sorry but I will not have time to produce this any time soon.

[2016-04-27 10:56] juanchopanza commented on #301
@eleftherioszisis Are you in a position to provide an example? I think you had a few good ideas.

[2016-04-27 11:52] eleftherioszisis commented on #301
I was mainly referring to Leda's implementation of the adjacency matrix (which is faster than Pneumatk's one where the code is a wild party), thus I do not have an example or code to provide apart from what Leda posted.

[2016-04-27 11:57] juanchopanza commented on #301
@eleftherioszisis Unfortunately the code posted is insufficient to do anything because is is missing context. I also have no idea how it could be used to calculate the path distances. In the absence any more evidence, I may play with making a tree of sections instead of trees of points. This should help with memory and should make the iteration over sections more efficient. Whether that has a sign

[2016-04-27 12:15] eleftherioszisis commented on #301
@juanchopanza I think that this is a good idea which will probably make ```make_tree``` faster. If you don't want to lose time on something that you are unsure of its efficiency, we can postpone this discussion until Leda can provide a more detailed example or algorithm.

[2016-04-27 17:20] eleftherioszisis opened #315 "matplotlib get function shadowing"
I noticed that when ```ipython``` is loaded with ```--pylab``` flag, a function ```get``` exists in the global namespace from matplotlib:

[code]

Using get function from features replaces this one. I assume that this is an alias function for ```getp```, thus it is probably not called directly from matplotlib, but I think that we should have this in mind in case weird stuff start happening.

[2016-04-27 20:02] juanchopanza commented on #301
I think #316 looks quite promising. Over 10x speed up WRT current version. There are still a few things that don't seem quite right, and it only works for h5 data, but it is a start.

[2016-04-29 14:00] eleftherioszisis commented on #301
Loading of 1000 cells in 30 secs (previously 1000). Cool!

[code]
[code]

[2016-04-29 14:35] berthelm commented on #301
Yay!   300 cells per second, that’s awesome!

And a whole circuit of 30,000 cells in 15 minutes (memory permitting!)

--------------------
Julian Shillcock
Algorithm Development Section Manager
Blue Brain Project
EPFL

julian.shillcock@epfl.ch<mailto:julian.shillcock@epfl.ch>
phone: +41 (0)21 69 39679

On 29 Apr 2016, at 16:00, Eleftherios Zisis <notifications@github.com<mailto:notifications@githu

[2016-04-29 14:52] juanchopanza commented on #301
Nice. Could you profile some neurite stats gathering too at some point? That should also be faster.

[2016-04-29 15:32] eleftherioszisis commented on #301
Section Path Distances profile for the collection of neurites with section neurons. The old way needs more than one hour, thus I will consider it as "infinite" time. :P
[code]

[2016-04-30 12:24] #281 closed

[2016-04-30 12:26] #288 closed

[2016-05-03 19:21] orena1 opened #322 "Difference between h5 file asc file and pneumatk"
I was using pneumatk in the past, and now I am trying to transition to NeuroM, but it seems that there is a small difference between the results of pneumatk and NeuroM. Also there is a very big difference between NeuroM h5 file and asc file, I think those files should be identical:

[code]

The code result in this output
[code]
The mrphologies are in this file
[Morphs.zip](https://github.com/BlueB

[2016-05-03 19:28] lidakanari commented on #322
Hi Oren,

First of all, thank you for the analysis! It is very useful for debugging indeed :)

There are some errors in the pneumatk calculations, so I expect the differences between pneumatk and NeuroM. However the differences between asc and h5 format should not be present. I also noticed a problem recently (I assume this has to do with the ascii loader) with the diameters of ascii files. I have

[2016-05-03 19:45] juanchopanza commented on #322
Hi Oren,

I can't speak for `pneumatk`, but I know that `NeuroM` is quite well tested for `h5` and `swc`. The `NL ascii` reader is experimental because we have no data we can fully trust, because the format has no specification. However, why do you expect the `.asc` file to be equivalent to the `h5` one? Do you have a tool that you fully trust to make the conversion between one and the other?

[2016-05-03 19:55] juanchopanza commented on #322
@lidakanari @orena1 It would also be interesting to see the `.asc` numbers with `pneumatk`, for completeness! Also, do either of you know if NL stores radii or diameters?

[2016-05-03 20:02] lidakanari commented on #322
@juanchopanza From the data Oren just shared it should be the same as h5 (so diameter). If you check the two files, they contain exactly the same values.

Could we at least check that the diameters are loaded correctly, because I suspect that the factor of 2x in the area (between asc and h5) is caused from the inconsistency of radii - diameters.

[2016-05-03 20:09] juanchopanza commented on #322
@lidakanari It is quite likely that there is a radius/diameter problem. The relevant reader code [is here](https://github.com/BlueBrain/NeuroM/blob/master/neurom/io/neurolucida.py#L156), and it seems to assume the 4th component is a radius.

[2016-05-03 20:52] orena1 commented on #322
@juanchopanza I did not managed to open the asc files with `pneumatk`

[2016-05-04 06:28] juanchopanza commented on #322
With #323, the neurite volume and area numbers are compatible. Some small differences remain, which might require some detailed investigation of the data itself, or the production of `h5` and `neurolucida` samples that we can be completely sure are equivalent. These are the numbers I get after the fix:

[code]

[2016-05-04 06:30] lidakanari commented on #322
Thanks Juan! That looks much better :+1:

[2016-05-04 06:32] juanchopanza commented on #322
I will re-open until we understand the remaining differences.

[2016-05-04 07:07] juanchopanza opened #324 "Discrepancy between h5 and neurolicuda ASCII data"
Related to #322.

Two files supposedly representing the same neurons in different formats show small differences in some of the morphometrics obtained with `neurom`.

It is not clear whether this is a problem with the data or an artifact of `neurom`'s data readers, so it might require some detailed investigation of the data itself, and / or the production of `h5` and `neurolucida` samples that we

[2016-05-04 07:08] juanchopanza commented on #322
FYI I opened #324, specifically about the h5/NL issue in `neurom`.

[2016-05-04 07:10] juanchopanza commented on #322
FYI I opened #324, specifically about the h5/NL issue in `neurom`.

[2016-05-04 07:10] #322 closed

[2016-05-04 07:10] mgeplf commented on #324
are non calculated values the same? segment/section count, etc?

[2016-05-04 07:14] mgeplf commented on #324
Looks like the precision is stored differently:
* in asc: it looks like %0.2f
* in h5, that's expanded to much longer floats

[2016-05-04 07:18] juanchopanza commented on #324
@mgeplf Good catches. See my edit re. counts. The numbers of both sections and segments are incompatible.

[2016-05-04 07:20] mgeplf commented on #324
That's pretty suspicious too.

It looks like the .h5 version was recentered, so that might also impact things.  However, the mismatch between counts is the most likely cause, imo.

[2016-05-04 07:21] mgeplf commented on #324
Can you say which type has the extra segment/sections?

[2016-05-04 07:24] lidakanari commented on #324
The precision issue has to do with the conversion. I noticed before that Brion is adding some more decimal numbers after the initial value!

[2016-05-04 07:28] mgeplf commented on #324
The asc -> h5 conversion is handled by NEURON + hoc code.

It looks like offsets by:
`all points will be corrected by off=(-8.3035714 , -5.915 , -6.8699999 )`

[2016-05-04 07:30] mgeplf commented on #324
It's weird that the number of section is larger in asc than in h5.  I can't think of a place where the asc reader would be adding sections.

[2016-05-04 07:30] juanchopanza commented on #324
@mgeplf about the types (removing types with zero segments):

[code]

[2016-05-04 07:54] mgeplf commented on #324
(5066 - 4557) = 509, so it looks like the `nl` has one extra segment per section, and one extra section on the axon.

1150 - 1102 = 48.  Are there, by any chance, 6 basal dendrites?

[2016-05-04 07:56] lidakanari commented on #324
Could it be that you are not removing the duplicate points at the beginning of each section?

[2016-05-04 08:06] juanchopanza commented on #324
@mgeplf One axon, 6 basal dendrites.

[code]

@lidakanari That seems to be at least part of the problem. Switching duplicate removal in h5, I get very similar numbers between h5 and NL. There is still one extra axon section.

[2016-05-04 09:27] juanchopanza commented on #315
That's not the only thing that will get shadowed. Basically, anyone using `--pylab` does it at their own risk.

[2016-05-04 09:31] #315 closed

[2016-05-04 14:18] juanchopanza commented on #324
See #325, where I added duplicate removal. The agreement is much better, although there is still an extra axon segment and section.

[code]

[2016-05-10 13:00] lidakanari opened #330 "Partition function output doesn't seem to agree with other section measurements"
I am trying to compute the dependence between functions and I noticed that the partition function doesn't seem to be computed for all the sections:

[code]

Notice that the length of the array is not equal to the number of sections, as expected.
I'm not sure where the error is but could someone look into this?

[2016-05-10 13:05] eleftherioszisis commented on #330
I basically asked Leda to open this issue because she has the newest version of NeuroM. I have a previous one and spotted this problem when calculating the branch orders.

This issue was not present two weeks ago where I was using the same functionality to calculate the section length per branch order. How come this passes through the tests?

[2016-05-10 14:05] eleftherioszisis commented on #330
OK, after checking a little into the features, I think that there is no error after all and that the partition values are indeed 40. I took into account a different branch order convention, thus I assumed that they should be less. No wonder why the tests do not fail xD

[2016-05-10 14:06] #330 closed

[2016-05-13 12:25] eleftherioszisis opened #338 "Minor Issue with Soma Type"
In the ```SingleSomaContour``` in ```neurom/core/neuron.py``` there is a small inconsistency where the center is returned as a list, while in the other types as an array. Armando discovered this while trying to load cells of different soma types.

[code]
@juanchopanza Can you change this into a numpy array in a next commit? Thanks!

[2016-05-13 12:55] juanchopanza commented on #338
Specifically what code had an issue with this? Could you post a self contained, minimal example that reproduces this "issue" (that should be standard when reporting this type of issues.)

[2016-05-13 12:57] eleftherioszisis opened #339 "Unused/missing optional parameters docstrings of neurom.view funtions"
The options that are documented in the docstring of functions in the view module (e.g. ```view.neuron```, ```view.neuron3d``` etc) need to be updated in order to reflect the actual options that are used in ```view.common.plot_style```.

More specifically, in ```view.neuron``` it is mentioned that ```limits``` key argument should be used to specify the limits of the plot, while in reality ```xlim``

[2016-05-13 13:00] eleftherioszisis commented on #338
I think it is evident that in one case the center will be returned as a list and in the other as a numpy array.

You can try loading the hippocampal neurons that have a contour-like soma and one from test_data.

[2016-05-13 13:01] juanchopanza commented on #338
No, you need to provide a working example showing this is an issue.

[2016-05-13 13:09] eleftherioszisis commented on #338
I don't understand. You have the same member variable (center) returned as a different type of data structure depending on the type of the neuron soma during the loading.

If you want for example to take the mean of the somata positions and some of the neurons represent them as lists while others as numpy arrays, then this will fail.

[2016-05-13 13:13] juanchopanza commented on #338
You're reporting an issue, so you need to provide the example that shows there is a issue. I can't assume that returning different types is an issue without proof, and there is nothing in the documentation that specifies that the center is represented as a numpy array anyway.

[2016-05-13 13:24] eleftherioszisis commented on #338
The example is the code itself. You have the ```BaseSoma``` that returns the center as a numpy array, the ```SomaSinglePoint``` and the ```SomaThreePoint``` that inherit from it and thus return numpy arrays as well.

Then you have the ```SomaSimpleContour``` that inherits from ```BaseSoma```, overrides the center method and returns a list instead (which can just be removed as it converts the numpy

[2016-05-13 13:26] juanchopanza commented on #338
Yes, but you have failed to show why that is a problem. If you don't have a test that fails because of this, then there is no issue.

[2016-05-13 13:29] eleftherioszisis commented on #338
Nevermind. Apparently it's not as trivial as I thought.

I will fix this and provide with the respective "proof" when I have the time. There is no point behind further arguing about this.

[2016-05-13 13:35] juanchopanza commented on #338
That's fine. Bear in mind that if there really is code out there that relies in these things being numpy arrays instead of lists, we have to decide if this is to be guaranteed by the soma classes, and add tests that check that this is the case. Currently, there is no such promise.

[2016-05-13 13:41] eleftherioszisis commented on #338
Agreed. In any case, however, I think it would be better if these soma type classes returned one type (either arrays or lists, not depending on the type of the soma).

[2016-05-15 08:08] juanchopanza commented on #339
Could you be more specific? There's no `view.plot_style` in `neurom`. If you mean `neurom.view.common.plot_style`, which part of the docstring are you referring to?

In general, we need more precision when reporting issues, no matter how minor.

[2016-05-17 07:25] eleftherioszisis commented on #339
Yes, sorry for the shortness of the issue.

Basically, the docstring in ```view.neuron``` says that one has to use the ```limits``` key argument to pass the limits of the axes. This key argument should propagate through ```view.neuron``` to ```view.common.plot_style```. This is not happening because ```plot_style``` uses the key arguments ```xlim```, ```ylim``` and ```zlim``` for the respective li

[2016-05-17 07:31] juanchopanza commented on #339
OK, thanks for clarifying. Do you think you can edit the initial issue description so that people landing here can immediately see what it is about?

Maybe @lidakanari can have a look at this? It is all too complicated for me.

[2016-05-17 07:45] lidakanari commented on #339
Yes, it's just a matter of documentation, since it has not been updated to the new version (updated options). I can take care of this, if it's not urgent!

[2016-05-17 08:51] eleftherioszisis commented on #339
Edited the initial issue for clarity.

[2016-05-18 09:05] juanchopanza commented on #339
A bigger issue is, do we really need all of that plotting code? It seems over-complicated considering the limited plotting needs or `neurom` . I can understand that we may want some dedicated code to plot neurons, dendrograms and eventually scholl diagrams, but do we need all the code that is in `neurom.view` for that?

[2016-05-24 13:03] juanchopanza commented on #276
The new section tree representation could be better suited to this. However, before going forward, what is the "traditional BPP representation" and where is it specified? I am not sure what it would mean to "map" NeuroM sections and segments to that "representation".

[2016-05-25 14:42] juanchopanza commented on #324
See related PR: #360.

[2016-05-26 09:29] juanchopanza commented on #322
Note that both the `h5` and `.asc` files used in this comparison break some valid assumptions that can be made of the data and are used in `NeuroM`:

*  The `h5` does not have real duplicate points on neurite section-section boundaries. It duplicates (x, y, z), but not necessarily d. The assumption is that duplicate points have equal (x, y, z, d). This is now formally specified in the [hbp h5 spec

[2016-06-02 08:53] juanchopanza opened #362 "neurolucida: No handlers could be found for logger"
`neurolucida` tries to write to a logger, and when there isn't one, this message appears:

To reproduce:

[code]

[2016-06-02 11:23] lidakanari opened #364 "Change definition of "number_of_sections" of populations in get (of both ezy and fst modules)"
The "number_of_sections" should return a list of the total number of
sections per *neuron*. Currently it adds up all the sections of the population.
Here is an example:

[code]

The number of neurons in the population is 5:
[code]
So the correct result would be:

[code]

[2016-06-02 11:27] juanchopanza commented on #364
That probably makes more sense. Whatever it does, it should be documented clearly. i.e. the behaviour here would be different for populations and single neurons. So we'd need to document what it does in either case.

[2016-06-02 11:55] juanchopanza commented on #364
Maybe it would be better to specify clearly what each of the "feature" functions should return, both for single neurons and for populations.

[2016-06-02 12:08] lidakanari commented on #364
Yes, sorry.. I though it was common sense!

The feature of "number_of_sections" should return:
- one number which is the number of all the sections of the neuron, if the input is a single neuron
- a list which contains one number **per** neuron, which is the number of all the sections of the neuron, if the input is a population

The same goes for the "total_length" or other total measurements.
- o

[2016-06-02 12:58] juanchopanza commented on #364
@lidakanari That is fine, thanks. @eleftherioszisis I think you implemented the "feture getters", right? If so, did you have a reason to implement the current functionality, or is it OK to change it?

[2016-06-02 13:10] lidakanari commented on #364
@eleftherioszisis Also, I am not sure if it should be a list or a np.array (please confirm so that we make all the features consistent )!

[2016-06-02 13:17] eleftherioszisis commented on #364
@juanchopanza Yes, indeed I implemented them. I didn't have any particular reasons for the total numbers due to not knowing what was needed. I believe that the per neuron numbers are much more useful for analysis, and in fact I needed per neuron total numbers as well for astrocytes, which I did manually. :P

All the features I implemented in the features module returned iterators that were convert

[2016-06-02 13:28] juanchopanza commented on #364
OK, thanks for the information. I can start working on this next week.

[2016-06-02 16:15] juanchopanza commented on #364
BTW, shouldn't the output be

[code]
I can't see a reason for the inner arrays.

[2016-06-02 17:18] lidakanari commented on #364
Yes, you are right :) That's what I got from my quick (and dirty) implementation, so your proposal is the correct one.

[2016-06-03 09:33] lidakanari commented on #362
I don't think that this issue is fixed! Here's the last git pull I did:

[code]

But the problem persists:
[code]

[2016-06-03 10:14] juanchopanza commented on #362
You need to import the `neurom.log` module to get the handler.

[code]

But if you don't do that, at least now you get a warning telling you not to trust the reader :-)

[2016-06-03 12:31] lidakanari opened #365 "Name of cells is not saved in fst module"
Here is an example. This problem has a significant impact on the analysis, since we cannot track back the cells that are analyzed.

[code]

The same applies for neurons in a population. We should be able to identify which neuron is analyzed, even when we study a whole population of them.

[2016-06-03 12:51] lidakanari opened #366 "Segment radii are inconsistnet between the 'fst' and the ezy modules."
I noticed a peculiar inconsistency between radii of the fst module and the ezy module. However, since segment_radii is not available in the fst module, it is not possible to test it with the same function. Here is a (not so proper) example for this:

[code]

Note that those cells have only one axon.

[code]

Then by computing the radii of the segments I cannot match the axon initial section:

[cod

[2016-06-03 13:35] juanchopanza commented on #366
Sorry, this is too confusing. I can't figure out what problem you're reporting here. What quantity are you trying to compare?

[2016-06-03 13:38] juanchopanza commented on #365
Thanks for reporting this. I will fix it next week.

[2016-06-03 14:08] lidakanari commented on #366
Yes, sorry about this. I think once we have the segment_radii for the fst module it will be easier to compare them.

I want to extract the distribution of segment radii. In the ezy module it is easy, since I can extract them from the NEURITEFEATURES. In the fst module there is not trivila way to do so. If you can propose one I will run the same analysis to compare the radii in the ezy and fst repr

[2016-06-04 12:25] eleftherioszisis commented on #362
I have a question. If the ```log``` is not imported, the file will be loaded correctly?

I am asking because a user will not know that he has to load the log, which he is not going to use, in order for the ```load_neuron``` function to properly work.

[2016-06-04 15:23] juanchopanza commented on #362
What file? `load_neuron` behaves as "correctly" as it can for `.asc` files, that is to say, kind of maybe a little bit. The issue is that the user wasn't being warned before, and now they are.

[2016-06-04 16:02] eleftherioszisis commented on #362
Ok, I was wondering if there was a difference in loading process or possible error that could be generated by not loading the logger.

[2016-06-06 07:35] juanchopanza commented on #364
@lidakanari @eleftherioszisis I will take care of `fst`. But for that I need to know exactly what features this should apply to.

[2016-06-06 09:01] #164 closed

[2016-06-06 09:40] juanchopanza commented on #365
Implemented in #367.

[2016-06-06 09:40] #365 closed

[2016-06-06 09:41] juanchopanza commented on #364
`fst` was taken care of in #368. Someone else can do `ezy`.

[2016-06-06 09:58] juanchopanza commented on #366
I think it is better to close this and open a new ticket where a single issue that is presented clearly and unambiguously.

[2016-06-06 10:26] lidakanari commented on #366
OK. I am closing it and when I have time I will try to make this into a proper issue. It would help if we can have the segment_radii feature implemented in fst if it is possible.

[2016-06-06 10:33] juanchopanza commented on #366
The main issue is that the new stuff isn't as flexible as the old. It is easy to add new segment features, but the implementation won't be very efficient. So I first want to see if I can improve that. In the mean time, I can post an inefficient example here.

[2016-06-06 10:52] lidakanari commented on #366
Yes, that would do since I will only use it to test the results (so I don't really need efficiency).

[2016-06-06 10:52] juanchopanza commented on #366
@lidakanari Done, see example.

[2016-06-06 10:55] #366 closed

[2016-06-09 17:01] lidakanari opened #375 "New feature: tortuosity"
It would be useful for validations to add the section_tortuosity feature at the "get" level for the next release.

Definition of tortuosity can be found here (http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3928584/):

"Also, the distance metric (DM) tortuosity (a dimensionless number) provides a ratio between the actual path length `(correction: this should be section length)` of a meandering curve (

[2016-06-10 06:35] juanchopanza commented on #375
If this is simply the section path length divided by the end-to-end distance, then I can add if to `fst.get`. Will that suffice, or do we also need it in `ezy.get`?

[2016-06-10 08:08] lidakanari commented on #375
Yes, it is the path distance of a section divided by the radial distance of the same section. I think it will be sufficient to be added to ```fst``` unless the ```ezy.get``` will not be deprecated any time soon.

[2016-06-10 09:00] juanchopanza opened #376 "Implement missing features.get functionality in fst module"
A few features available from `neurom.feautres.get` or `ezy.get` need to be implemented as `fst.get` features. These can be implemented as is:

[code]

These seem to depend on the alignment of a cell within a global coordinate system, so their meaning should be reviewed.

[code]

For these, a more generic method would be desirable:

[code]

[2016-06-13 09:13] #376 closed

[2016-06-16 11:57] lidakanari opened #383 "Inconsistencies between ezy and fst"
Example of disordered data [test_data.zip](https://github.com/BlueBrain/NeuroM/files/318302/test_data.zip). The two files should be equivalent (the only difference is the order in which the points appear in the file):

[code]

The disordered file fails to load with the fst module!

[2016-06-16 12:11] juanchopanza commented on #383
That doesn't look right! I'll have a look at it.

[2016-06-16 13:33] #375 closed

[2016-06-16 13:37] juanchopanza commented on #383
I think I figured out what is going on. In the disordered sample, there is a section that is being interpreted as two because of the break in IDs. But the first one only has one child, and that confuses the section extraction algorithm. The SWC spec allows this data. The question is whether we need to support it. If yes, then I will need to re-implement the SWC section extraction algorithm.

[2016-06-16 13:39] juanchopanza commented on #383
I should point out that I don't think this will not be trivial, so we need to be sure it is needed.

[2016-06-16 14:03] lidakanari commented on #383
No, it is not trivial (and this is not urgent as far as I know). I confirmed with the viz-team that this not-order representation is possible and should be allowed. I know it messes up a lot of things but if we choose _not_ to support it we will have to document it clearly (since there is not such restriction in the original swc format, as far as I know). I have an algorithm for this that I am imp

[2016-06-16 14:07] juanchopanza commented on #383
Could you confirm with the viz team that "not-order" means non-consecutive IDs inside of single _sections_ in SWC? Because this kind of thing cannot happen in h5 or .asc, by design.

[2016-06-16 15:05] juanchopanza commented on #383
Ignore my previous message. I just tried the Brion morphology converter with the disordered file, and it converter read it and converted to h5 v1 fine. So Brion is doing the right thing, and `neurom.fst` is assuming too much.

[2016-06-16 15:34] lidakanari commented on #383
I think this is related to mixed tree ids rather than mixed IDs inside sections. For example we cannot have (this is my assumption according to the SWC specs, we will have to confirm this) decreasing IDs: 2, 5, 4 but we can have parent ids mixed (as in the file I attached as example).

[2016-06-16 15:42] lidakanari commented on #383
Also, I will create an equivalent example for h5 format to check similar issues, if this is helpful. In this case, the sections of different trees will be shuffled, but the points within a section will be consecutive.

[2016-06-16 15:43] juanchopanza commented on #383
I really don't think it has to do with moving things around trees. The SWC reading algorithm uses the number of children to find section end-points, and this file has a false section with one child only. But I can test your hypothesis with another file and get back to you.

[2016-06-16 15:49] lidakanari commented on #383
How can this file have a "false" section since the SWC file does not contain section information? I think this is related with some assumption to form the sections, I am not sure though. Let me know if I can help identify the issue.

[2016-06-16 16:01] juanchopanza commented on #383
I added [swc_ordering.zip](https://github.com/BlueBrain/NeuroM/files/318817/swc_ordering.zip), where `sample_mixed_tree_sections.swc` has sections not sorted by tree. The `fst` module parses this one fine. I will add these files to the test data.

[2016-06-16 16:11] juanchopanza commented on #383
The fake section is due to the code that tries to extract sections from the flat SWC data. I will have to fix it.

[2016-06-17 12:52] #383 closed

[2016-06-17 14:18] #364 closed

[2016-06-21 15:02] #256 closed

[2016-06-22 17:02] eleftherioszisis opened #394 "fst module single neurite features"
This is a request to permit the extraction of features from single neurites from the ```fst``` module. This can be achieved by either modifying ```fst.get``` or adding another getter for the neurites.

[code]
[code]

[2016-06-22 17:22] juanchopanza commented on #394
Is the this a request that `fst.get` work for single neurites? If so could you edit your post to specify that explicitly?

[2016-06-23 06:19] juanchopanza commented on #394
Actually I don't think it would be a good idea to implement this. Currently, the `get` method takes as 2nd argument a neuron or population (actually anything that has a `neurites` and / or a `soma` attribute with certain properties.) To allow passing single neurite directly would mean some `get` methods wouldn't work (e.g. the neuron or soma properties.) I think it is better to keep this uniformit

[2016-06-23 08:59] eleftherioszisis commented on #394
When a user is performing analysis on neurons and single neurites might need to be analyzed as well, because the features do change in the biological cells depending on the level of abstraction. Therefore, it is essential to be able to apply the neurite features on neurites as well.

To give you an example, I was analysing the reconstructed astrocytes by checking how features such as bif angles, r

[2016-06-23 09:22] juanchopanza commented on #394
`NEURITEFEATURES` and `NEURONFEATURES` are also present in `neurom.fst`. The point is that all the features available through `get` should work for a given input. Otherwise the interface becomes brittle and harder to use. One option would be to add two more getters, as you suggest in the last paragraph. Or we can add more 'per_neurite' features.

[2016-06-23 09:51] eleftherioszisis commented on #394
In the case that ```get`` will only work with objects that have neurites (i.e. neuron, population), then I think we should join the neuron and neurite features, because the only reason that I had them separated was for the user to check which feature can only be applied on neurons.

How about adding a boolean ```per_neurite``` flag that can be passed in the ```get``` function, and transform any fe

[2016-06-23 09:53] juanchopanza commented on #394
Yes, a `per_neurite` flag could work. I'm not a big fan of flags that get ignored in some situations, but I can live with it here.

[2016-06-23 09:54] juanchopanza commented on #394
But wait, this is a separate issue. I still wouldn't want `get` to accept single neurites.

[2016-06-23 09:56] juanchopanza commented on #394
Bah, forget it. I will just allow `get` to take individual neurites and somas and then barf if the input doesn't match the feature.

[2016-06-23 09:57] eleftherioszisis commented on #394
Haha, whatever is simpler to implement. :P

[2016-06-23 14:06] eleftherioszisis commented on #394
I have a suggestion. In order to make the names of the features directly available to the users through the ```get``` function docstring in a dynamic way , something like this can be added in the end of the ```fst.__init__.py``` file:

[code]
(```join```, directly calls dictionary's ```__iter__``` which returns a tuple of the keys)
This will provide a docstring of the form:

[code]
Probably there

[2016-06-23 14:44] eleftherioszisis commented on #394
Or even in a sorted way:
[code]

[2016-06-23 14:50] lidakanari commented on #394
That would be useful indeed!

[2016-06-23 14:51] juanchopanza commented on #394
Good idea. I'm on it!

[2016-06-23 14:58] #394 closed

[2016-06-24 10:55] juanchopanza commented on #339
Could somebody take care of this, or provide me with the required doc strings so I can put it in? It already caused me some confusion today!

[2016-06-24 11:11] juanchopanza commented on #339
As a related note, could we remove the `no_xlim` etc. fields? I don't see a technical need for them and they make the interface confusing.

[2016-06-24 11:23] lidakanari commented on #339
This issue is about the documentation. As I said I am planning to fix the plotting issue (along with some other ones) after the 1rst of July. I don't think you should start removing functionality if you are not one of the main users of the plotting. The set of options was formed after months of discussions and it took me a while to satisfy different peoples needs. So, changing those options arbitr

[2016-06-24 13:24] juanchopanza commented on #339
Just a suggestion for the doc strings: if all the `plot_style` parameters are valid for all plotting functions that call `plot_style`, it might be easier to define a string for those parameters, and append it to the doc strings of `plot_style` as well its clients in `neurom.view.view`.

[code]

then
[code]

and so on

[2016-06-24 13:44] lidakanari commented on #339
Yes, that would certainly be a good idea and it will minimize the duplication!

[2016-06-28 12:03] juanchopanza commented on #276
@dkeller9 I put this on hold until there is more clarity on the requirements. However, here is an example that lets you get sections and segments by ID, according to a mapping that matches what I understand to be the implied mapping used in some BBP tools. Note that this mapping is not yet specified.
See [examples/section_ids.py](https://github.com/BlueBrain/NeuroM/blob/master/examples/section_ids

[2016-06-28 12:53] lidakanari commented on #276
That's still helpful as a first example. Thanks!

[2016-06-29 13:08] #338 closed

[2016-06-29 13:09] juanchopanza commented on #338
Probably "fixed" in #398, if there was a problem to fix.

[2016-06-30 08:27] juanchopanza opened #399 "Use fst module in morph_check app"
This will also require some re-factoring of morph_check, and moving more code from the app to modules.

[2016-07-01 07:54] juanchopanza commented on #399
Implemented in #400.

[2016-07-01 07:54] #399 closed

[2016-07-01 08:17] juanchopanza commented on #339
I clarified the issue title, which was quite vague.

[2016-07-01 10:55] juanchopanza opened #401 "neurom.check.morphtree.is_backtracking docstring insufficient"
The `is_backtracking` function in [neurom.check.morphtree](https://github.com/BlueBrain/NeuroM/blob/master/neurom/check/morphtree.py) looks complex, but there is no explanation in the docstring about what it actually does. This should be explained better. From looking at the tests, I can see there are two or three specific but distinct behaviours it deals with. Those could form the basis of a docs

[2016-07-01 10:58] eleftherioszisis commented on #401
Fair Enough. I will look into it on Monday (I have a meeting with Henry Monday morning, so I cannot look into it before then).

[2016-07-01 11:16] lidakanari commented on #179
Do we still need to rename this one?

[2016-07-01 11:18] juanchopanza commented on #179
I'm not sure, because the section tree doesn't need this kind of duplicate removal. So I think we can ignore this one, and when the point representation is finally removed, we can close it.

[2016-07-01 11:24] lidakanari commented on #179
OK, thanks!

[2016-07-01 12:08] juanchopanza opened #402 "Detect zero radius soma in morph_check"
This applies to soma that are otherwise considered valid by NeuroM.

[2016-07-01 12:15] lidakanari commented on #402
Is this about the _actual_ radius of the soma or the radii of the points of the soma? I think the zero radius of soma points are valid, but the actual radius is expected to be greater than zero, so we should check the second one!

[2016-07-01 12:21] juanchopanza commented on #402
My interpretation is that it is about the radius of the soma, not the soma points (which for a single point soma is the same.)

[2016-07-01 12:25] lidakanari commented on #402
OK, I agree with this (Yes, single point soma is equivalent).

[2016-07-01 15:28] #402 closed

[2016-07-04 08:58] lidakanari opened #404 "Fix the title of viewer of neuron"
Now the plots of neurons have the default title, they should have as title the name of the neuron.

[2016-07-04 11:03] #404 closed

[2016-07-04 11:29] juanchopanza commented on #249
@orena1 FYI, the documentation has [been updated to show all the available features](http://neurom.readthedocs.io/en/latest/_neurom_build/neurom.get.html#neurom.get). See also [some examples of usage](http://neurom.readthedocs.io/en/latest/_neurom_build/neurom.html). Note that this is from a snapshot of the git repository.  These latest changes will be released in version 0.1.1

[2016-07-04 12:46] #339 closed

[2016-07-04 13:42] eleftherioszisis commented on #401
@juanchopanza Is there a way to apply ```isection``` on ``Neurite``` objects?

[2016-07-04 13:46] juanchopanza commented on #401
`isection` doesn't make sense in the new representation. You have `Neurite.iter_nodes()` which I think has the same functionality.

[2016-07-04 13:46] eleftherioszisis commented on #401
Ah, ```iter_nodes``` returns sections, not nodes?

[2016-07-04 13:47] juanchopanza commented on #401
I think it returns nodes.

[2016-07-04 13:52] eleftherioszisis commented on #401
I see. It returns nodes that represent sections, and contain points that make the segments. Right?

[2016-07-04 13:53] juanchopanza commented on #401
Yes, every node holds a 2D array with all the points forming a section.

[2016-07-04 14:52] #279 closed

[2016-07-04 15:15] jdcourcol commented on #279
thank you Lida. I will give it a try as soon as a package is available.

[2016-07-05 08:06] eleftherioszisis commented on #401
I am closing this!

[2016-07-05 08:06] #401 closed

[2016-07-05 10:10] chalimou opened #411 "bounding box not working as a week ago"
Hello,

I had a routine for computing the bounding box of a neuron iterating over its neurites. It worked a week ago but it does not work now. Could somebody help? I include the script and an example neuron. Thanks, nancy
[Archive.zip](https://github.com/BlueBrain/NeuroM/files/347501/Archive.zip)

[2016-07-05 11:20] juanchopanza commented on #411
@chalimou , please post enough information in the issue. "It doesn't work" is not a very useful description, especially because people can have no idea of "working" or "not working" means to you.

[2016-07-05 11:26] juanchopanza commented on #411
What is the last commit ID it worked with?

[2016-07-05 11:29] juanchopanza commented on #411
If it is an issue with the bounding_box function, then you can use the more generic one provided in `neurom.geom`.

    from neurom import geom

    bb = geom.bounding_box(...)

[2016-07-05 11:44] juanchopanza commented on #411
For future reference, this would make a good issue report:

The following code worked with commit ID <the last ID for which it worked> but now fails with an error:

[code]

Even if you don't have the commit ID for which it worked, this code snippet can be copied and run trivially, and it is also there to view. It is also important that it has nothing to do with the input data.

[2016-07-05 12:14] chalimou commented on #411
Hi Juan,

thanks, the generic version of  bounding_box works perfectly :) Sure, I can copy paste the code if you prefer so. I remember you wanted stand-alone scripts and examples in order to be able to reproduce the errors. What does generic mean in this context by the way? Speaking of definitions here are mine (totally subjective, of course):

working: the script runs and produces results which s

[2016-07-05 12:20] juanchopanza commented on #411
@chalimou See the example I added above. That has a self-contained example that people can see and trivially run immediately, plus the observed behaviour (in this case, an error traceback.)

Re. "generic", it means this function "understands" more types of arguments, e.g. neurite, soma, neuron. So it can be used more generally than your example.

[2016-07-05 14:27] juanchopanza commented on #411
@chalimou FYI, I added a section on reporting issues to the documentation: http://neurom.readthedocs.io/en/latest/issue_reporting.html

[2016-07-06 15:28] chalimou opened #417 "Cannot translate neuron in viewer.draw - produces error"
I used to translate synthesized neurons, so that the soma has (0,0,0) coordinates. I include an example synthesized neuron. After updating to "viewer" following the deprecating message the  function "translate" produces an error. I used the following script:

[code]

Afterwards, I updated to fst and viewer like this:

[code]

It produces the following error:

[code]

[L23_PC_ID50.h5.zip](https://g

[2016-07-06 15:49] juanchopanza commented on #417
`neurom.geom.translate` is not implemented for new-style neurons, and unfortunately the implementation does not tell you this, letting the error propagate to the viewer. I am working on an implementation of translate at the moment. I hope to have an up-date soon.

[2016-07-07 15:46] juanchopanza commented on #417
Fixed in #418.

[2016-07-07 15:46] #417 closed

[2016-07-11 07:40] juanchopanza opened #421 "New concept of section"
NeuroM neurites rely on a very generic tree representation. This had great advantages (for example, using the same underlying code to represent section trees instead of point trees.) But it also makes reasoning about some algorithms complicated by requiring a conceptual separation between the tree structure and the contents. For example, some functions need to know the tree structure, others only

[2016-07-11 08:29] eleftherioszisis commented on #421
I think this is a good idea. It would be interesting to see if there is a significant overhead by using objects to store the collection of points and extract them for operations memory-wise and time-wise.

[2016-07-11 08:52] juanchopanza commented on #421
Currently, we access them indirectly anyway, via the `Tree.value` member. So there should be no change. The only difference is that the indirection will happen inside the section functions, instead of on the caller side.

[2016-07-11 11:51] juanchopanza opened #422 "neurom.get number of terminations"

[2016-07-11 11:52] juanchopanza opened #423 "neurom.get numbr of "multifurcations""
"multifurcations" are forking points, i.e. branching points with 2 or more children.

[2016-07-11 11:54] juanchopanza opened #424 "neurom.get meander angles"
meander angles are inter-segment angles, where segments are defined in one single section, i.e. the angle between the last segment in a section and the first in its children is not considered.

[2016-07-11 11:57] juanchopanza opened #425 "Implement section tree node"
Implement new section tree as proposed in #421.

[2016-07-11 15:31] #421 closed

[2016-07-11 15:32] juanchopanza commented on #425
Implemented in #426.

[2016-07-11 15:32] #425 closed

[2016-07-11 19:05] #422 closed

[2016-07-11 19:05] #423 closed

[2016-07-12 08:03] #424 closed

[2016-07-12 09:19] juanchopanza opened #429 "Change in behaviour of neuron checking functions"
The neuron checking functions were designed at a time when NeuroM was an SWC-only package. As such, it made sense to return IDs of points that caused failures. This was intended to help determined users to debug SWC morphology files. However, NeuroM now deals with HDF5 and (experimentally) with NeuriLucida .asc files, for which the concept of point ID is meaningless.

I suggest changing the report

[2016-07-12 09:52] lidakanari commented on #429
It makes sense to change this. However, we have the following issue. It is easy to find a section - segment in h5, but for swc and NLascii that would be impossible. The segment ID is easier for both NLascii and swc because you can search for this line. Similarly, in h5 you can search for a line (segment ID) in the list of points, provided that you start counting from 1. I am not sure if it makes s

[2016-07-12 10:00] juanchopanza commented on #429
This isn't for searching in files, for the reasons you mentioned (and I tried to explain in the original post but wasn't clear enough.) Returning the IDs could allow to debug in the same program that reads in the file. So one would get the point from a neuron object. If is not for searching in files. I don't think we can reliably support debugging the files separately.

As for returning a point, t

[2016-07-12 11:04] lidakanari commented on #429
OK, then it definitely makes sense to use the internal representation's data then (SecID, SegID seems reasonable). I doubt that anything can be done internally to "fix" the problem given that it is not possible to change the structure or save it. However, it might be useful to track the issue within the file that contains the information.

[2016-07-12 11:19] juanchopanza commented on #429
Yes, the benefits of this are quite limited, but I think the information might be useful for expert debugging.

[2016-07-13 07:58] #429 closed

[2016-07-14 11:59] juanchopanza opened #437 "Release version 0.1.1"
NeuroM v0.1.1 has been released. See [release notes](https://github.com/BlueBrain/NeuroM/releases/tag/v0.1.1) for further information.

The documentation will appear [here](http://neurom.readthedocs.io/en/v0.1.1/) shortly.

[2016-07-14 12:42] chalimou opened #438 "section_path_distances gives an error for the hippocampus cell"
The extraction of the feature section_path_distances for the hippocampus cell (included below) crashes with an error when computed with the following script: (this was not the case with ezy)

[code]
[hippo.zip](https://github.com/BlueBrain/NeuroM/files/363706/hippo.zip)

[2016-07-14 12:55] juanchopanza commented on #438
I will look into it, but note that this neuron has two zero-length sections. This could be the root of the problem.

[code]

Relevant part of output:

[code]

Note I removed unnecessary stuff from your example.

[2016-07-14 13:18] juanchopanza commented on #438
I think I found a potential issue: this file has two of its three soma points somewhere in the middle (SWC IDs 597 and 598). The SWC reader must be making some assumption that the somas are all at the beginning. I will create a small data sample to reproduce this and see about fixing it.

[2016-07-14 13:45] juanchopanza commented on #438
OK, the morphology looks broken. Maybe @lida can comment on whether NeuroM should try to read a file with this structure or not. Here is the issue:

There is a starting soma point, that has two children: an apical dendrite branch, and another soma branch!

Here's the first soma point, with the first couple of basal dendrite points:
[code]

And here is the second soma branch, which has two soma poi

[2016-07-14 14:07] juanchopanza commented on #438
@chalimou Maybe you can consult with whoever created this file, but changing the type of points 597 and 598 to apical dendrite might be a solution.

[2016-07-14 14:24] chalimou commented on #438
Thanks very much for the analysis Juan. I’ll check with Armando tomorrow and if we cannot find a solution, we’ll wait until Lida is back from vacation in three weeks time.
nancy

[2016-07-14 14:50] juanchopanza commented on #437
The documentation has not appeared under v0.1.1 yet, but can be found in the [stable](http://neurom.readthedocs.io/en/stable/) release.

[2016-07-15 07:58] juanchopanza commented on #438
@chalimou FYI, I took the liberty to reduce the example forward, so anyone reading it can see the most straight forward way to extract a feature.

[2016-07-15 08:15] juanchopanza opened #439 "Transfer ownership of pypi.python.org package to bbp.opensource"

[2016-07-19 12:40] juanchopanza opened #441 "Release version 0.1.2.dev0"
FYI NeuroM development version 0.1.2.dev0 has been quietly released primarily to test changes in the release procedure. The code base is identical to the previous release, 0.1.1.

[2016-07-25 14:49] juanchopanza commented on #247
Resolved in #442.

[2016-07-25 14:49] #247 closed

[2016-07-26 11:26] juanchopanza opened #444 "Release version 0.1.2"
NeuroM version 0.1.2 has been released. See the [release notes](https://github.com/BlueBrain/NeuroM/releases/tag/v0.1.2) for further information.

See [the documentation here](http://neurom.readthedocs.io/en/v0.1.2/).

[2016-07-26 11:32] juanchopanza opened #445 "Make ezy module private"
The `ezy` module has been marked for deprecation in the latest releases. Remove it in two phases:

1. Make private by moving it to `_ezy`
2. remove entirely.

This issue is step 1.
Note: this is a breaking change so will be part of a major version change.

[2016-07-26 11:34] juanchopanza opened #446 "Move point-tree code to dedicated submodule"
All point tree code is deprecated. Move it to a private submodule, to isolate it from section tree code.

[2016-07-26 12:05] #445 closed

[2016-07-28 06:57] juanchopanza opened #449 "Make morph_stats configurable"
The `morph_stats` script should be extended to accept a configuration script. If we restrict the morphometrics to those accessible via `neurom.get`, is would be straight forward to configure based on required feature and neurite type where applicable.

Reasonable default feature set, with possibility of splitting by neurite type:

* neurite length
* maximum section length
* maximum branch order
*

[2016-07-28 07:10] #446 closed

[2016-07-28 11:44] #449 closed

[2016-08-04 08:34] juanchopanza commented on #301
I think we're done here!

[2016-08-04 08:34] #301 closed

[2016-08-12 10:43] juanchopanza commented on #438
@chalimou Any news on this?

[2016-08-12 10:48] chalimou commented on #438
Not yet, sorry, it will take another week I’m afraid since Armando is away next week. I sent him the link with the comments again yesterday but I do not think he had time to look at them.

thanks, Juan

[2016-08-15 14:54] mgeplf opened #463 "SWC with only one neurite isn't parsed right"
Have a test case here #462

Looks like `_section_end_points` needs to be augmented to deal with it.

Something like:
`if row[COLS.TYPE] != data_block[int(row[COLS.P])][COLS.TYPE]:` would help, but need to make sure that data_block has row[COLS.P], so it's a bit more complicated

[2016-08-15 14:54] mgeplf commented on #463
I will try and have a look at it when I have some time.

[2016-08-15 15:26] juanchopanza commented on #463
The problem is that the sections are supposed to be defined topologically, not by type (a change of type should not signify that a new section.) But somas are different.

[2016-08-16 07:27] juanchopanza commented on #463
See #464.

[2016-08-16 08:58] #463 closed

[2016-08-16 09:11] juanchopanza opened #465 "SWC reader produces empty sections"
The section extraction code used in the SWC reader produces empty sections:

[code]

output:

[code]

These could cause confusion downstream and should be removed.

[2016-08-16 09:21] juanchopanza commented on #465
Scratch it. It doesn't really matter.

[2016-08-16 09:21] #465 closed

[2016-08-16 09:44] juanchopanza opened #466 "test_view unit test fails on mac osx"
Running `make run_tests` results in

[code]

[2016-08-16 09:47] mgeplf commented on #466
on my setup (matplotlib==1.5.1), the values are '(0.0, 0.25)', fyi

[2016-08-16 09:49] lidakanari commented on #466
If this test is platform dependent it is a very bad unit test...

[2016-08-16 09:54] juanchopanza commented on #466
@lidakanari Where do these numbers `(0.0, 0.20)` come from?

[2016-08-16 09:57] juanchopanza opened #467 "Running neurom.view tests launches view GUI"
Running the viewer tests launches the GUI. The tester then had to kill it, only for the next one to appear. This should not happen.

[code]

[2016-08-16 09:58] lidakanari commented on #466
This is the expected y-limits of this plot. They are computed from the tree boundaries, but they also depend on the "plotting" behavior of matplotlib.

[2016-08-16 10:07] mgeplf commented on #466
For the soma call, I don't think they're set from the boundaries, so matplotlib calculate them itself, which is probably why it varies on different platforms.

[2016-08-16 10:27] juanchopanza commented on #467
@lidakanari Any ideas about this? `show_plot` seems to do more than controlling whether a plot is shown.

[2016-08-16 10:45] #466 closed

[2016-08-16 11:00] lidakanari commented on #467
@eleftherioszisis did this part in order to resolve Werner's issue. I will let him take a look at this once he is available.

[2016-08-16 11:23] juanchopanza opened #470 "document view `final` option"
There seems to be an option `final` which controls whether a plot is shown or not (??!!)
This is needs to be documented. It may also make sense to give it a more intuitive name.

@eleftherioszisis I am assigning you because I think you introduced this option. Apologies if I am mistaken!

[2016-08-16 11:51] juanchopanza commented on #467
@lidakanari @eleftherioszisis I have disabled this plotting by default. This now requires the user to ask for the thing to be plotted:

[code]

Which relates to #470. The `final` option isn't documented, nor intuitive.

[2016-08-16 12:03] lidakanari commented on #467
@wvangeit FYI

[2016-08-16 12:10] wvangeit commented on #467
Yeah sure, wasn't this option called show_plot in the original issue ?
For me show_plot can be disabled by default, that's up to you. The test could also disable it if it defaults to True.

[2016-08-16 12:12] juanchopanza commented on #467
@wvangeit Unfortunately show_plot seems to do more than just controlling whether a plot is shown or not.

[2016-08-16 12:13] wvangeit commented on #467
@juanchopanza ok, so that's the core issue then I guess ;-)

[2016-08-16 12:22] juanchopanza commented on #467
@wvangeit  I wouldn't know. This stuff is too mysterious for me!

[2016-08-16 12:24] #467 closed

[2016-08-17 10:52] lidakanari commented on #438
@juanchopanza I just learned about this issue and what you describe is not considered an error in the morphology. According to the specs (http://research.mssm.edu/cnic/swc.html) there is no restriction about the ordering. Besides there was a long discussion a couple of months ago (about h5 format) and the outcome was that we should not assume any ordering.

Coming back to the example you describe,

[2016-08-17 11:29] juanchopanza commented on #438
@lidakanari It isn't a matter of ordering, but one of topology + the special treatment of somas. This cell is a case where there are two branches coming out of the initial (soma) point. One is a soma, the other is a neurite. If that is a valid construction, then I may need to make changes to the code to accept it. Currently, I don't think it fits well in our definitions (the first point is a branc

[2016-08-17 11:46] lidakanari commented on #438
From what you report that is what I understand as the structure of the cells:

[test.pdf](https://github.com/BlueBrain/NeuroM/files/422469/test.pdf)

_If that is the case_:
1) We don't have 3 soma sections! It is one contour and trees attached to the right places
2) This is the actual and correct structure; once it is transformed into h5 it is actually not correct and we use it improperly in absen

[2016-08-17 11:51] juanchopanza commented on #438
No, as I mentioned, the first point has *two* branches, starting at points 2 and 597.

[2016-08-17 11:55] lidakanari commented on #438
Draw a figure. I don't understand your interpretation, if it does not correspond to figure 1.

[2016-08-17 12:00] juanchopanza commented on #438
You see how in your first figure point 1 only has one child, namely point 2? Well, in the actual file in question, point 1 has two children, points 2 and 597.

[code]

[2016-08-17 12:02] lidakanari commented on #438
Sorry but this is not different from figure 1. Only point "1" is point "4".... OK, I will change the numbers for your comfort!

[2016-08-17 12:03] juanchopanza commented on #438
Or maybe change the numbers so they actually relate to the data we're talking about.

[2016-08-17 12:09] lidakanari commented on #438
Sorry, I didn't realize that I had to spend more time drawing the exact structure because of someone else's problem I did not cause. This is not a very professional approach but here you go. Is this ok now?

[test2.pdf](https://github.com/BlueBrain/NeuroM/files/422511/test2.pdf)

If that is the case the file is correct, the loader is not. 99% of the swc files have this precise structure and as I s

[2016-08-17 13:06] juanchopanza opened #472 "Add tests for SWC contour soma reading"
Add simple test and test data to ensure that a "contour soma" SWC is parsed correctly.

[2016-08-17 13:16] juanchopanza opened #474 "Check SWC split soma parsing"
In SWC soma sections need may be formed of non-consecutive points. Check whether this works by adding explicit tests for this type of configuration.

[2016-08-17 13:17] juanchopanza commented on #438
#472 created for contour soma testing and #474 for somas of non-consecutive points.

[2016-08-17 13:31] lidakanari opened #475 "Add test to ensure no bifurcations occur in the soma"
The following example of a morphology file (swc) should fail to load since two soma points have the same soma parent:

+1 1 0 0 0 0.0 -1
+2 1 0 0 2 0.0 1
+3 1 0 0 3 0.0 2
+4 1 0 0 4 0.0 2
+5 1 0 0 5 0.0 4
+6 1 0 0 6 0.0 5

[2016-08-17 13:56] #472 closed

[2016-08-17 14:39] #474 closed

[2016-08-17 14:46] juanchopanza commented on #438
Here's a re-cap:

At the time this issue was reported, the kind of soma structure was not explicitly supported in NeuroM. The conclusion now is that it should be, given that is seems to be commonly used. Tests have been added to ensure that various previously unsupported soma configurations can be parsed by the SWC reader, and this seems to be the case. However, the error still occurs, which leads

[2016-08-17 15:57] juanchopanza opened #477 "SWC parser: split soma neurites have parent sections."
NeuroM treats neurites and somata separately. Neurites are disconnected trees and somata are collections or points. Thus the root node of a neurite should have parent `None`, and NeuroM code relies on this. It seems the SWC parser assigns soma parent sections to some neurites in data with split soma points, i.e. data where the soma points are not consecutive.

To reproduce:

[code]

Desired output

[2016-08-17 16:52] juanchopanza commented on #438
I think this is fixed by #478. The issue was with the soma being split into separate blocks in the file. The neuron builder was assuming all soma points are before neurite ones, and this lead to some neurites having soma sections as parents. And this changes the behaviour of the upstream iterator, which is used to calculate the path length.

[2016-08-18 09:39] #438 closed

[2016-08-18 09:39] #477 closed

[2016-08-29 10:06] juanchopanza commented on #475
Note that this invalidates most of our SWC test neurons, so it will involve many changes to the tests.

[2016-08-29 10:34] lidakanari commented on #475
No, sorry if the title is misleading. The swc neuron somata _should not_ have any bifurcations! I am not referring to bifurcations from the soma to another tree type. I am referring to the example I gave before (look comment above):

---- soma ----| ----soma----
                     |
                  soma
                     |

This "within soma" bifurcation should not happen in any morphology,

[2016-08-29 11:19] juanchopanza commented on #475
Sure, I understand that. But most of our test SWC files fall foul of that. I am already fixing them.

[2016-08-29 11:26] lidakanari commented on #475
Please give an example. The swc I created does not have this problem, and I even had a test to ensure this with the previous loaders. Maybe I am still writing something confusing.

[2016-08-29 11:28] juanchopanza commented on #475
Here: https://github.com/BlueBrain/NeuroM/blob/master/test_data/swc/Neuron.swc#L35

Two soma points bifurcating from point 1. If this is supposed to be valid, then the description of this issue needs to be clarified.

[2016-08-29 11:29] lidakanari commented on #475
No, you are right. This should not be accepted. Thanks for the clarification!

[2016-08-29 11:30] juanchopanza commented on #475
OK, good! Fortunately those are easy to fix.

[2016-08-30 06:40] #475 closed

[2016-08-30 09:56] juanchopanza opened #480 "Add regression test for incorrect reading of h5 files with non-standard soma"
In a specific case of SWC malformed soma structures (branching soma), the corresponding h5 transformed data appeared to have the Z component of the second point of the initial neurite sections incorrectly set. This problem disappeared in #479. Since the h5 data is invalid anyway, it isn't worth investigating. But add a regression test to track whether this reappears.

[2016-08-30 11:30] #480 closed

[2016-08-31 07:00] juanchopanza commented on #272
@eleftherioszisis Does #461 cover this?

[2016-09-05 12:46] juanchopanza opened #491 "Release version 1.0.0"
NeuroM version 1.0.0 has been released. This is a major release, with significant changes w.r.t v0.1.2.
- See the [release notes](https://github.com/BlueBrain/NeuroM/releases/tag/v1.0.0) for further information.
- See [the documentation here](http://neurom.readthedocs.io/en/v1.0.0/).

[2016-09-06 15:31] #437 closed

[2016-09-06 15:31] #441 closed

[2016-09-06 15:31] #444 closed

[2016-09-06 15:35] juanchopanza opened #492 "dendrogram plot corrupts neuron object"
To reproduce:

[code]

Output:

[code]

[2016-09-06 16:03] #492 closed

[2016-09-06 16:06] juanchopanza commented on #272
I will assume it is covered.

[2016-09-06 16:06] #272 closed

[2016-09-06 16:12] juanchopanza opened #495 "Read in glia data"
Glia f5 files have an extra block of data. See if these can be loaded without compromising performance or maintainability.

[Example file](https://github.com/BlueBrain/NeuroM/files/457174/glia.zip)

[2016-09-06 17:44] dkeller9 commented on #495
The extra surface area information can be used to:

1) assign surface channels
2) calibrate metabolic model
3) validate geometrical models
4) visualize the astrocytes

[2016-09-06 18:46] juanchopanza commented on #495
This isn't very relevant to NeuroM. What is relevant is that you're interested in surface area. But how do you define it in terms of the new info?

[2016-09-07 07:47] dkeller9 commented on #495
It would be nice to have an easy way to access the data from NeuroM.

[2016-09-12 13:30] juanchopanza opened #497 "re-enable bifurcating soma in special case"
It seems issue #475 was over-restrictive, making the commonly used SWC "3 point soma" structure illegal. In this 3-point structure, the second and third soma points are children of the first. This means the first point is a bifurcating soma point. Allow this when

* The soma contains exactly three points
* The first (soma) point is the parent of the second and third soma points

[2016-09-13 07:52] #497 closed

[2016-09-13 07:55] juanchopanza commented on #249
@orena1 The latest release of NeuroM has a [morph_stats](http://neurom.readthedocs.io/en/stable/morph_stats.html) application that allows you to extract various morphometrics into a JSON file. It is highly configurable and I think it could be a good substitute for the `get_features` function you mentioned. Please let me know if it is useful to you.

[2016-09-26 12:46] juanchopanza opened #501 "Population section radial distance inconsistency"
The section radial distance as calculated from a population seems inconsistent with that of individual neurons. This can be tested with a small sample of synthesized morphologies, where the soma positions of each cell differ:

[code]

Expected output: `True`, observed output: `False`.

[2016-09-26 12:53] lidakanari commented on #501
The title should change to 'radial distance' instead of 'path distance'

[2016-09-26 13:19] #501 closed

[2016-09-28 07:43] chalimou opened #503 "NaN in feature section_tortuosity"
the following little script extracts the values for the feature 'section_tortuosity'. The first value in the resulting array is a nan. The problem exists since yesterday. I include the cell (Armando's reconstructed reference biological cell) as an attachment.

[code]

Output:
[code]

[hippo.zip](https://github.com/BlueBrain/NeuroM/files/497372/hippo.zip)

[2016-09-28 08:03] juanchopanza commented on #503
@chalimou Thanks for hte working example. I could reproduce the issue immediately. I also checked with older code and it is present there, so the problem exists since well before yesterday (good to know no recent change caused this.) I will look into it.

[2016-09-28 08:15] juanchopanza commented on #503
@chalimou The first section has length 0:

[code]
I can see this too by running `morph_check` on the file, getting the output

In this case, the issue is that point 2, a starting neurite point, bifurcates.
NeuroM sections cannot be zero length by definition. Is there any possibility to fix this file?

[2016-09-28 08:54] chalimou commented on #503
thanks for the investigation. I have no idea about files and formats, so l inform armando and lida and let’s talk offline the synthesis meeting tomorrow. Just keep the issue open until I get more information. You are right, the problem existed before, I’ve checked old validation reports and it shows always when this cell is involved. Since tortuocity = radial distance / path distance, that’s where

[2016-09-28 09:17] lidakanari commented on #503
According to this issue: https://github.com/BlueBrain/NeuroM/issues/166 we modified other parts of NeuroM (in this case the plotting) to include cells that have this type of trees (directly bifurcates after the first point). There was a long discussion after which it was decided that we will keep those neurons as accepted. Also, if I am not mistaken Dan made some arrangements with the circuit buil

[2016-09-28 09:28] juanchopanza commented on #503
@lidakanari thanks for finding that link. That issue is specifically about plotting trees. I don't recall the conclusion of the discussions about zero length sections for neurons are accepted. Do you have a reference to is somewhere?

In any case, these neurons are not currently rejected by NeuroM. I think a NaN is a suitable result for the tortuosity of a zero length section. The user can then de

[2016-09-28 09:29] lidakanari opened #504 "Neuronal density"
According to the following paper: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4092368/ the neuronal density is defined as the total volume of a tree divided by the volume of the convex hull that encloses the tree.

This feature should be computed per tree and therefore is TreeType specific.

[2016-09-28 09:32] lidakanari commented on #503
@juanchopanza I don't recall any conclusion concerning the zero length problem. This proposal makes sense (since I cannot think of a more reasonable value to replace the nan in this case). I think it will be useful to document it in the function description, so that the user can handle the nan values accordingly.

[2016-09-28 10:03] chalimou commented on #503
I see your points and understand that from circuit building, NeuroM and plotting point of view this is acceptable. NaNs and zeros completely ruin the statistics though and I do not have any possibility to manually edit the arrays afterwards. We all love automatisation, since it reduces manually caused errors.
Proposal: let me think about it and discuss it some time tomorrow, in person, I might hav

[2016-09-28 10:15] juanchopanza commented on #503
@chalimou The feature getter gives you an array of numbers. You can filter or transform these to suit your needs.

[2016-09-28 10:45] juanchopanza commented on #504
I won't read the paper, but I have a question: the feature should be computed by tree type, but does it have to be aggregated by tree type, or should it produce a value per neurite? The latter gives the caller more freedom.

[2016-09-28 10:52] lidakanari commented on #504
This is a personal opinion so it is completely subjective: for me it makes sense to be computed as a value per neurite. So you will have a value of density per tree and as you suggest the user can then sort them by tree-type.

[2016-09-28 10:54] juanchopanza commented on #504
OK, good. That would also be my preference.

[2016-09-28 11:43] eleftherioszisis commented on #503
@chalimou

Nancy, can you add something like this in morphval's code?

[code]
will result to:
[code]

This will remove inf or nan values from the results that you get from the getter. By the way I agree that it should be left to the user to filter the values, because if for example two features need to be compared against each other then one needs to create a mask for both features based on the in

[2016-09-28 12:15] mgeplf commented on #503
Note: the above changes the length of the array.  To keep the same length, I recommend either using:
http://docs.scipy.org/doc/numpy/reference/generated/numpy.nan_to_num.html

or

`foo[np.isnan(foo)] = 0`

[2016-09-28 12:17] chalimou commented on #503
thank you all very much for the suggestions. I do not want to blindly remove NaNs or Infs since in other circumstances it can be a bug and not a feature like it seems to me it is in this case. But of course one can use sth like this in the case of the tortuosity. I just want to think a bit over the effects on radial distances, angles, etc. And I was thinking of things like the one MIke just mentio

[2016-09-28 15:47] eleftherioszisis commented on #503
@mgeplf

It indeed changes the length of the array. The reason I suggested it is because morphval compares distributions and not pairwise values. By setting nans to zero or other value will lead to artificial peaks in the distribution which will affect the validation.

However, a lovely warning for morphval (or neurom if you think that it would be more suitable) in case of nans could be useful in

[2016-09-29 07:31] juanchopanza opened #510 "Make volume, area, length a property of sections, neurites"
Currently these are standalone functions for flexibility, but they can be expressed as the aggregate of the equivalent properties of the sections in the neurite. Users will still provide alternative estimations of these quantities via standalone functions.

[2016-09-29 10:50] #510 closed

[2016-09-29 11:01] juanchopanza commented on #504
I haven't fully put this in features, but with the latest changes it is easier to extract the information. For example,

[code]

and then

[code]

I think this should be enough to get started with evaluating this quantity in the classification.

[2016-09-29 12:39] chalimou commented on #503
Keeping sections with zero length coming out of the soma into the analysis has additional problems:
section_length = section_radial_distances = section_path_distances = 0, number_of_sections is incorrect and of course tortuosity = nan.
The clean solution would be to remove those sections altogether.
The dirty solution is to set section_tortuosity = 1 for these cases.
Since those sections are not m

[2016-09-29 12:47] juanchopanza commented on #503
@chalimou I could get NeuroM to reject these files, but apparently we decided it would be a good idea to allow them. And setting the value to 1 is the kind of domain specific fix that should be performed at the caller side.
Alternatively, the producers of the files could look at them and fix them so this kind of issue doesn't arise.

[2016-09-29 12:58] juanchopanza opened #513 "allow registration of neurite, neuron features to neurom.get utility"
Currently the `neurom.get` utility provides a means to obtain various morphometrics while remaining de-coupled from code complexities. This is particularly useful for scripting morphometrics utilities. It would be useful to provide some limited entry points for user defined functions to be utilized with `neurom.get`. For example:

[code]

masking of previously existing features would be disallowed

[2016-09-29 14:52] chalimou commented on #503
From what I understood we keep the files with good reason and we can stick to that. Rejecting them will leave Armando with no cell at all and we do not want that :)
For the naive and even semi-naive user operating directly on the files is impossible. Even more difficult is sometimes to get the file producers to do the fix. Setting section_tortuosity=1 for the cases we are talking about is consiste

[2016-09-29 15:18] juanchopanza commented on #503
@chalimou Maybe you, @lidakanari and other morphology experts can discuss whether this value of 1 makes sense for a zero length section in all cases. If you all agree what it makes sense, we can add it as a special case value to NeuroM. I don't recall seeing anything about this in the references Lida circulated about the tortuosity. And for me, as a non-morphology expert, it is difficult to unders

[2016-09-29 15:25] chalimou commented on #503
I can not generalise for all cases, with zero length sections so it’s better to check, you are right.

[2016-09-30 06:20] juanchopanza commented on #503
OK, let's leave this open until we figure this out.

[2016-09-30 11:44] lidakanari commented on #504
Thanks! That's very helpful...

[2016-09-30 13:30] juanchopanza commented on #504
Resolved by #517.

[2016-09-30 13:30] #504 closed

[2016-09-30 15:02] juanchopanza commented on #249
@orena1  FYI, since #514 the `morph_stats` application can produce its output in CSV format.

[2016-09-30 15:05] orena1 commented on #249
Thanks, I will check the new function and tell you my impression.

[2016-10-03 10:56] chalimou commented on #503
After discussion with @lidakanari, we agree that as @mgeplf said it doesn't make sense to remove the value if it is nan as this will result in inconsistencies of the length of the arrays. We thought about it also for zero length sections in other positions and we see two viable solutions:

1) The correct approach is to remove the section that only contains one point. This will resolve all the issu

[2016-10-03 11:03] juanchopanza commented on #503
@chalimou Solution 1) is not easy to implement, and it could change things such as the number of neurites in the cell. Also, it would have to be done to the date, because one of the design principles of neurom is to not change the input data.  Solution 2 can be easily implemented for tortuosity. And yes, it is a good idea to think of the consequences of allowing zero length sections!

[2016-10-03 11:11] juanchopanza commented on #503
Actually, even the fix for 2) isn't ideal. The section end-to-end distance being zero (the denominator in the tortuosity calculation) does not mean the section length is zero. A long section could loop back on itself. Does assigning the value of 1 still make sense, and are we sure that won't confuse people in the future?

[2016-10-03 11:35] chalimou commented on #503
@lidakanari  and me agreed, let's restrict tortuosity = 1 only for this special case, that is, sections with less that two points. You are right, there is no guarantee for no NaNs in the future. We'll see what we do then, depending on the case. The example you give might indeed happen (@lidakanari is not aware of sth like this yet) and tortuosity should not be 1 for this, that is for sure.

[2016-10-03 11:41] juanchopanza commented on #503
OK, thanks. Then I will merge #519 and this particular case will be solved.

[2016-10-03 11:41] #503 closed

[2016-10-03 11:47] chalimou commented on #503
@juanchopanza just for the case you described above, the one with the section end-to-end distance being zero (the denominator in the tortuosity calculation) but non zero section length. It is a circle then. From mathematical, common sense and wikipedia point (I've just looked tortuosity up :) of view we can set this case to section_tortuosity = INF if @lidakanari agrees and it is not too much trou

[2016-10-03 11:51] juanchopanza commented on #503
@chalimou I will make a new issue for that.

[2016-10-03 11:56] juanchopanza opened #520 "section tortuosity for non-zero length, zero end-to-end distance should be inf."
Section tortuosity is defined as the ratio of section length to euclidian distance between end-points. In the case of a single or zero point section, it is defined to be 1. But in the special case of a looping section, with non-zero length but zero end-to-end distance, it would be better to return infinity rather than NaN.

[2016-10-03 12:06] juanchopanza commented on #520
It turns out the current implementation produces the desired behaviour.

[2016-10-03 12:12] #520 closed

[2016-10-06 12:59] juanchopanza opened #523 "Make neurom.fst._neuritefunc.iter_sections functionality public"
This allows convenient iteration over all the sections of a neurite, neuron or population, allowing the user to specify the type of iteration (either the order, or via filtering iterators such as `ileaf` and `ibifurcation`.) It is currently private but could be made accessible, like `neurom.iter_neurites`.

[2016-10-07 08:56] #523 closed

[2016-10-07 09:16] juanchopanza commented on #523
@lidakanari FYI, you now have `iter_sections` available directly in `neurom`.

[2016-10-19 07:39] juanchopanza opened #530 "Obtain or create specification for SWC soma types"
See discussion in #496.

[2016-10-20 17:30] christian-oreilly opened #531 "neurolucida.read(...) fails on some NeuroLucida files."
I've been using the neurolucida.read(...) function which works fine on some of my files (from one collaborator) but not on others (from a different collaborator). The files that work have the format :

[code]

and those that don't have the format

[code]
The key difference that makes them fail is the presence of the "S1" in the tuple  (    3.34     0.81     0.00     0.09 S1). If I remove those, th

[2016-10-21 07:37] mgeplf commented on #531
We don't have a spec for the neurolucida files, so we have to work with data that people have sent us.  Does this have a different version string at the top of the file compared to:
`;       V3 text file written for MicroBrightField products.`

Also, does the file load correctly in NEURON?

[2016-10-21 08:59] #249 closed

[2016-10-21 09:01] juanchopanza commented on #249
I will close this in the absence of any feedback. I think if anything is missing in `morph_stats`, it would make more sense to open a new issue specifically for that. Note that this can be re-opened if other maintainers deem it necessary.

[2016-10-21 09:30] lidakanari commented on #249
Sure, I think it makes more sense to open specific issues for missing features, since the csv output is already implemented.

[2016-10-21 13:37] christian-oreilly commented on #531
Both samples start with
`;	V3 text file written for MicroBrightField products.`

However, looking at these files with Elisabetta, we concluded that the `SX` identifies the slice. Let me give another example that is more clear on that:

[code]

These morphologies actually are reconstructed form a stack of up to 6 slices (to get the full axon projection) and I think that, in the notation `S2 "V2 sec

[2016-10-21 13:42] lidakanari commented on #531
If the SX data define the slice number are they relevant information that should be kept or can they just be ignored during the loading? (I think it would be very tricky to change the internal representation to add one more field, but maybe ignoring those fields could make sense, if your current solution is deleting them from the file).

[2016-10-21 14:17] christian-oreilly commented on #531
Yeah, as I was trying to explain in the last part of my message, just ignoring them looks to work fine (at least, Pneumatik reconstruct both version (one original and one ignoring SX numbers) identically). As long as there is not a real use-case for having access to these slice numbers in NeuroM, it seems a reasonable option to just ignore these SX so that these files can be loaded without a lot o

[2016-10-25 07:46] mgeplf commented on #531
I'll try and fix this today or tomorrow, FYI.

[2016-10-25 11:07] mgeplf opened #534 "Exceptions thrown by IO readers get hidden from user"
Need a better way of percolating the contents of the thrown exception, so that the user has an idea what the problem with the morphology file is:

https://github.com/BlueBrain/NeuroM/blob/master/neurom/io/utils.py#L99

[2016-10-25 12:25] mgeplf commented on #531
fixed in #535

[2016-10-25 12:26] mgeplf commented on #531
Please reopen this if it doesn't solve your problem.

[2016-10-25 12:26] #531 closed

[2016-10-25 12:51] mgeplf opened #536 "morph_stats doesn't check config has all required fields before loading files"
Means that after a long load, if a key is missing in the config, you have to rerun the whole process.

[2016-10-25 14:25] jdcourcol opened #538 "morph_stats should support a large number of morphologies"
Currently, using a lot of morphologies (> 10000) uses a lot of memory and that makes morph_stats to hang for ever.
The reason being that all the statistics are being kept in memory and then written into a report (json or csv).

[2016-10-26 14:59] mgeplf commented on #538
I can probably fix this for the CSV version, but I would have to look at the best way to incrementally write json files.

[2016-10-26 17:00] juanchopanza commented on #538
Careful with the `--as-population` option. Also, is it due to the stats being kept in memory, or the morphologies (Neurn objects), or both?

[2016-10-27 06:19] jdcourcol commented on #538
@juanchopanza : It is true that I cannot assert that the memory was consumed by the statistics and not the morphologies.

Can you elaborate on that ?

[2016-10-27 06:36] juanchopanza commented on #538
It collects summary stats for a whole population, not individual morpholigies. So you need to be clever about how that is done w/o keeping the statistics in memory.

[2016-10-27 07:17] mgeplf commented on #538
I would probably do that separately, but it's possible to do online aggregation instead of in batch, I think.  I will look at the code.

[2016-10-27 07:31] #536 closed

[2016-11-02 07:49] mgeplf opened #542 "Clarify morph_stats doc to have list of features directly visible"
I always missing having to click on the `get()` function, and I surmise that others do too.

[2016-11-02 07:56] lidakanari commented on #542
That would be a very useful improvement!

[2016-11-04 09:21] #491 closed

[2016-11-04 09:23] #221 closed

[2016-11-04 09:24] mgeplf commented on #185
There now exists:
http://neurom.readthedocs.io/en/stable/_neurom_build/neurom.check.neuron_checks.html#module-neurom.check.neuron_checks
and
http://neurom.readthedocs.io/en/stable/_neurom_build/neurom.check.structural_checks.html#module-neurom.check.structural_checks

[2016-11-04 09:24] #185 closed

[2016-11-04 10:01] #534 closed

[2016-11-04 10:21] mgeplf commented on #324
It appears that what is happening is that the an extra point is added to a section to connect it to its parent at:
https://github.com/BlueBrain/NeuroM/blob/master/neurom/io/datawrapper.py#L145

I will have to look at the best way to fix that, because it's not necessary for the ASCII reader.

[2016-11-04 10:43] juanchopanza commented on #324
The best solution would be to extract the sections directly in the NL reader, instead of using `_extract_sections`.

[2016-11-04 11:28] mgeplf commented on #324
I will have to look into that, thanks for the suggestion.

[2016-11-07 06:21] juanchopanza commented on #324
@mgeplf Wait, it isn't clear at all that SWC files come with the duplicate point at the beginning of (non-trunk) sections. We used to think yes, then we looked at files from neuromorpho.org and the conclusion was no. BBP files coming from out tool chains may have these. But these are an internal subset of NL .asc files.

[2016-11-07 09:49] lidakanari commented on #324
I agree with @juanchopanza : the SWC files do not have duplicate points by definition. The same is True for most of the  NL saved ascii files. The duplicate points are included in BBP internal files. However, this should not influence the results if the removal of duplicate points is performed correctly.

[2016-11-07 10:09] juanchopanza commented on #324
@lidakanari From what I saw, the BBP tools introduces "duplicate" points with a different radius (following some unspecified algorithm of course :-) ), so adding them / removing them adds / removes information.

[2016-11-07 10:31] lidakanari commented on #324
Aw, I see... Sure, if there is a change in the diameters, that will have a significant effect on the extracted measurements. Also, from my observations there are numerical errors introduced during conversion with Brion. The coordinates given with a few decimal places in the original file are converted into coordinates of 16 decimal places, with randomly larger absolute values. So we end up with co

[2016-11-07 12:08] mgeplf commented on #324
That's because `0.552924677558` can't be represented exactly in a float32, and the 'modified' one is what is actually stored internally.  It's not a random number, as it's (depending on the library) the closest float32 to the original number.

That's a separate issue from duplicate points having different radii, which I will have to track down an example of to know why it's being generated.

[2016-11-08 06:45] juanchopanza commented on #324
Sorry if I caused confusion, but I meant "NL .asc" when I said "SWC" earlier.

[2016-11-15 12:05] mgeplf opened #547 "3 point contour for h5 reader"
If an h5 file has 3 points in its soma contour, the soma is interpreted as a SomaThreePoint, which is not correct.  It should be a SomaSimpleContour using the 3 points.

[2016-11-28 13:47] mgeplf opened #553 "Remove point_neurite code"
As mentioned here https://github.com/BlueBrain/NeuroM/pull/548#discussion_r89781988
the point_neurite code should be removed, and everything should be moved to _fst.

- [ ] Check that all the common functionality tested via the point representation is also tested in the section one
- [ ] Remove compatibility tests when the section tests reach parity
- [ ] Remove point_neurite dir

[2016-11-28 15:23] mgeplf commented on #553
Basically, it looks like all the tests in `neurom/fst/tests/test_feature_compat.py` rely on the fact that the tests in `neurom/point_neurite/features/tests/test_features.py` are correct.

[2016-11-29 11:00] lsqshr opened #555 "morph_stats fails in python3.5"
When I run morph_stats with python3.5, it complained that 'map' cannot be dumped in json as below

[code]

To reproduce this bug, try a random [swc](http://neuromorpho.org/dableFiles/cameron/CNG%20version/AK11N1.CNG.swc) from NeuroMorpho.

To ensure I was using python3:
[code]

[2016-11-29 11:49] mgeplf commented on #555
Thanks, I can reproduce this.  I will have a look at this later today or tomorrow.

[2016-11-29 12:21] mgeplf commented on #555
Ok, so the root cause is that np.array(iterable) doesn't actually create the array from a map() function, now that map() is lazy.

ex:
[code]

In other words, np.array() is creating a single element array with the iterator object in it.

I will have to investigate what the cleanest fix for this is.

[2016-11-29 22:59] lsqshr commented on #555
Great!. I have closed #554 and will be waiting for a neater fix.

[2016-12-01 08:55] mgeplf commented on #555
It might take a few days, as I'm in the middle of removing the deprecated point_neuron code, which I need to get done first...

[2016-12-05 08:15] jdcourcol opened #557 "dendrogram plot unreadable"
The following dendrogram generated with the draw_dendrogram method is unreadable:
![image](https://cloud.githubusercontent.com/assets/5441880/20877752/0717b0a4-bacb-11e6-8e33-400ccd05c171.png)

I can provide the reconstrcution for test through private message but I will not put it online.

[2016-12-05 08:23] jdcourcol opened #558 "iterator to get segments from a section."
If I have a section, I would like to be able to iterate on its segments.I didn't find an obvious way to do it.
I can get the 'list' of segment from a section that way:
segs = zip(sec.points[:-1], sec.points[1:])

but I don't find it straightforward for the end user.

[2016-12-05 08:26] mgeplf commented on #557
I believe this code was initially committed by @eleftherioszisis, so maybe he could have a look at it.

I believe he is quite busy at the moment, so if it's a high priority, I can devote some time to it.  Let me know.

[2016-12-05 08:27] jdcourcol opened #559 "make path_fraction_point consistent with points in segment"
path_fraction_point returns a point. If I use this function with points coming from a section (section.points) I don't get the same kind of point because it doesn't have a radius. I would expect to get the interpolated radius too.

[2016-12-05 08:28] jdcourcol commented on #557
It is not high priority

[2016-12-05 08:59] mgeplf commented on #559
A code snippet would be helpful.

[2016-12-05 11:15] eleftherioszisis commented on #557
I think this is related to the aspect ratio of the axes.
By setting the aspect ratio to "auto" filled the space of the figure.

[code]

[2016-12-05 11:17] jdcourcol commented on #557
it is definitely better. Is there a reason for this not being the default ?
![image](https://cloud.githubusercontent.com/assets/5441880/20883137/d46c8674-bae4-11e6-97fb-d4deba8ce74a.png)

[2016-12-05 11:21] eleftherioszisis commented on #557
No there isn't. This was not happening in the past, so probably some part of the ```common``` was changed in the meantime, affecting the aspect ratio of the figures.

[2016-12-05 12:44] lidakanari commented on #557
Actually there was a very long discussion about the preferred behavior of the aspect ratio... The default value for this feature changed recently as a result of this discussion: https://github.com/BlueBrain/NeuroM/issues/279. I think it would be preferable to  select a different default value in the viewer of the dendrogram, if you want to modify this for the dendrogram.

[2016-12-06 08:42] jdcourcol opened #562 "axons may start from a dendrite."
We are assuming so far that all neurites start from the soma.
It appears that in some reconstructions (and in biology), axons may start from a dendrite.

[2016-12-06 08:58] #558 closed

[2016-12-06 09:22] wvangeit commented on #562
See here e.g.:
https://www.eurekalert.org/pub_releases/2014-09/uob-cwd092214.php
https://www.ncbi.nlm.nih.gov/pubmed/25199704

[2016-12-06 10:32] lidakanari commented on #562
This is encoded in the reconstruction (at least in ascii files). We have to ensure that in this case the data are loaded correctly and we have to define an analysis that makes sense in this case. In order to include this case, I computed the tree_type by the median of the tree_type of each point. In this case the assumption is that the initial part is considered to be of the same type as the rest

[2016-12-07 09:07] mgeplf commented on #562
@wvangeit do you know what NEURON does?
@lidakanari do you have an example of the ascii files you mentioned?

[2016-12-07 09:09] mgeplf commented on #553
Done in #556

[2016-12-07 09:09] #553 closed

[2016-12-07 09:10] wvangeit commented on #562
Regarding Neuron, I tried it last week. At least in the latest version and using the SWC reader, Neuron connects the axon nicely to the dendrite (the replace_axon function of e.g. BluePyOpt will however replace the axon with an AIS connected to the soma)

[2016-12-07 09:10] mgeplf commented on #513
done in #537

[2016-12-07 09:10] #513 closed

[2016-12-07 09:11] mgeplf commented on #555
Can you try with the latest version? I believe it should work now

[2016-12-07 09:16] mgeplf commented on #562
@wvangeit Ok, good to know.

I can see how SWC would be able to handle it, as each point has a neurite type associated with it.  Other formats, I have less idea about (name, I need to see a neurolucida version, so I can see how they encode the switch)

[2016-12-07 14:01] eleftherioszisis opened #567 "Principal direction extents for a neuron as a whole"
It would be useful to be able to calculate the principal direction extents for a whole neuron.

Right now the neurites are treated separately, calculating the principal components and the projection of points upon the eigenvectors of the covariance matrix of the points that constitute the neurite.

However, sometimes one would like to calculate the extent of a neuron as a whole.

Thus, the feature

[2016-12-08 00:00] lsqshr commented on #555
@mgeplf I tried with the forward master on python3.5 with the swc at the top of this issue and got the error below:
[code]

[2016-12-12 12:06] mgeplf commented on #555
Ok, that should be fixed now if you try the master.  Sorry about that.

[2016-12-12 12:26] mgeplf commented on #567
At the developer API level, you can do this:
[code]
Is that what you expect?  This includes the soma points, but I guess you may want this for the 'neuron as a whole'

[2016-12-12 12:29] mgeplf commented on #542
With the latest code `morph_stats -l` gives a list of stats available.  The documentation has also been updated to include this information.

[2016-12-12 12:29] #542 closed

[2016-12-12 12:30] mgeplf commented on #470
Any update on this?

[2016-12-12 12:30] #439 closed

[2016-12-12 12:41] mgeplf commented on #203
I don't fully understand which density we are talking about.  Is there some literature that defines or explains the required feature?

[2016-12-12 12:44] #179 closed

[2016-12-12 12:47] lidakanari commented on #203
I have a function for this implementation (and the short documentation for it). I will add an example in the corresponding folder asap (I just need to adjust the code to the new changes and I didn't have the time to do this). @mgeplf you can assign this to me.

[2016-12-12 13:14] mgeplf commented on #203
Cool, thanks.  No rush, I'm just trying to cleanup up the issue list.

[2016-12-13 08:46] eleftherioszisis commented on #567
Yes, this is what I would expect. I just think that it would be useful to be able to differentiate between neurons and neurites from the feature getter level of this feature.

[2016-12-13 10:43] mgeplf commented on #180
Hello @a1eko,

I have added this feature in #570, and would appreciate it if you gave it a shot, and see if it works for your use case.

Thanks.

[2016-12-13 15:19] mgeplf commented on #557
What is the final consensus on this?

[2016-12-13 15:19] mgeplf commented on #555
@lsqshr Do you mind trying it again?

[2016-12-14 00:07] lsqshr commented on #555
Hi @mgeplf, I can confirm the bug is fixed! Thanks a lot!

[2016-12-14 00:07] #555 closed

[2016-12-14 08:02] mgeplf commented on #555
Excellent.  If you find any other problems, don't hesitate to open more issues.  Thanks for your help.

[2016-12-14 08:32] lsqshr commented on #555
Definitely!

[2016-12-14 15:22] eleftherioszisis commented on #557
I suppose there should be added key argument in the ```common``` that will enable the manual change of the aspect ratio of the axes. No? @lidakanari

[2016-12-14 15:28] lidakanari commented on #557
Yes, the option is in common, plot_style (check aspect_ratio). In case a specific value is needed for the dendrogram I suggest we change it in the specific code of the dendrogram to avoid contradictions with other functions (see view and the discussion I referenced before). To do this just set the 'aspect_ratio' to the desired value and then pass it into the common when you can plot_style as an ar

[2016-12-15 08:18] mgeplf commented on #557
I'm going to assign this to you guys, as you know best how the plotting should work.

[2016-12-15 08:46] lidakanari commented on #557
Sure, no problem. I will modify the aspect_ration of the dendrogram to "auto".

[2016-12-15 09:15] #557 closed

[2016-12-19 22:24] boazmohar opened #580 "Python 3 compatability"
Hi,

Are there any planes to make NeuroM python 3 compatible?
Would you consider a pull request for that?

Thanks,
Boaz

[2016-12-20 08:07] mgeplf commented on #580
I believe we've made progress in that department already.  Which functionality isn't working with python3?

[2016-12-21 16:12] boazmohar commented on #580
I pip installed version 1.1.1
I get this error while importing neurom:
[code]

[2016-12-21 16:29] juanchopanza commented on #580
@boazmohar It seems [version 1.2](https://github.com/BlueBrain/NeuroM/releases) didn't get deployed to pypi.python.org. That is the version that has some modifications for python3 support. I will open a separate issue.

[2016-12-21 16:32] juanchopanza opened #582 "1.2 release not deployed on pypi"
The version number in the last release has not been updated to `1.2`, so the deployment of the release has been made with the wrong version (namely [`1.1.2.dev0`](https://pypi.python.org/pypi/neurom/1.1.2.dev0). I think this could be fixed with a correctly versioned `1.2.1` release.

[2016-12-21 16:33] juanchopanza commented on #580
Opened #582.

[2016-12-21 17:36] boazmohar commented on #580
Thanks! I will wait for the 1.2.1.

[2016-12-22 08:35] mgeplf commented on #582
Done.

[2016-12-22 08:35] #582 closed

[2016-12-22 08:37] mgeplf commented on #580
Ok, 1.2.1 should have been uploaded, so I'm hoping that fixes your problems.  Let me know if it works for you.

Py3 isn't currently the highest priority for support, so there may be gaps compared to the py2 support.  However, if you find problems, create issues or make pull requests.  All help is appreciated.

[2016-12-23 14:08] mgeplf commented on #580
Any luck with the new version?

[2016-12-23 14:33] boazmohar commented on #580
Yes just checked it, works great, Thanks!

[2016-12-23 14:33] #580 closed

[2017-01-05 12:40] lidakanari opened #586 "NeuroM fst _bifurcationfunc tests missing at lower level"
I just noticed that the _bifurcationfunc.py file is only tested through the test_neuritefunc.py. It would be useful to add tests to the lower level to ensure the validity of the functions.

[2017-01-09 12:17] mgeplf opened #587 "Convex hull calculation used for density doesn't take into account the diameters"
For example, with SWC:
[code]

The test case:
[code]
returns `89.27`, which is not a valid density.

This was originally pointed out by @lidakanari

[2017-01-10 13:44] lidakanari commented on #586
Fixed with #585

[2017-01-10 13:44] #586 closed

[2017-01-30 12:42] mgeplf opened #590 "use cleaner way of using matplotlib so that the 'Agg' background doesn't need to be set"
Currently if someone import matplotlib.pyplot before neurom is used, and the DISPLAY variable isn't set, it tries to set the 'Agg' background, so that figures aren't rendered to the current user.  Instead, it should create figures without pyplot, so that does happen.

[2017-02-10 01:24] QuLogic commented on #590
Why not just remove it? This part is a library, not an application, so it doesn't _need_ a specific backend. The choice of backend should be left to the user.

[2017-02-15 12:24] mgeplf opened #593 "Refactor plotting/viewing code"
The original comment by Mike:

A matplotlib upgrade broke the tests, so to get around that for the moment, matplotlib has been pinned to a working version: #592

The plotting/viewing tests should be more robust against this, and should more carefully check that the output is expected, using a process similar to how matplotlib does its tests.

Once this is done, #592 should be rolled back.

-------

[2017-02-23 09:24] wvangeit opened #597 "Ball-and-stick morphology not plotting correctly"
I have the following swc morphology:
1 1 0.0 -10.0 0.0 20.0 -1
2 1 0.0 0.0 0.0 20.0 1
3 1 0.0 10.0 0.0 20.0 2
4 3 0.0 10.0 0.0 2.0 3
5 3 0.0 100.0 0.0 2.0 4

When I plot this with:
import matplotlib.pyplot as plt

import neurom
import neurom.viewer
neurom.viewer.draw(neurom.load_neuron('ballandstick.swc'))

plt.show()

I get:
![screen shot 2017-02-23 at 10 21 24](https://cloud.githubusercontent.co

[2017-02-23 09:27] wvangeit commented on #597
[ballandstick.swc.zip](https://github.com/BlueBrain/NeuroM/files/796039/ballandstick.swc.zip)

[2017-02-23 09:50] mgeplf commented on #597
It seems that the default soma plotting draws an 'outline' of the three points, so that's why you get the line.

You can try `neurom.viewer.draw(neurom.load_neuron('ballandstick.swc', outline=False))`
Which will draw a circle, but it will look wrong since the radius is calculated as the average distance to the center ((10 + (-10))/2, 0, 0), which won't be 10, since one of the coordinates is (0, 0,

[2017-02-23 09:51] mgeplf commented on #597
Regardless of the above, the documentation needs to be cleared up so it's easier to find these properties.

[2017-02-23 09:53] mgeplf opened #598 "Check that all parameters for plotting are properly documented"
'outline', for example ( #597 )  , isn't currently documented.  There are probably others.

[2017-02-23 10:06] wvangeit commented on #597
You there is something very wrong with the soma plotting, it seems the radius of the soma is completely ignored ? (I hope this is only the case for plotting, and not the internal representation of the soma ?)

I corrected the position of the soma by moving the 0,0,0 position to the first line:
1 1 0.0 0.0 0.0 10.0 -1
2 1 0.0 -10.0 0.0 10.0 1
3 1 0.0 10.0 0.0 10.0 2
4 3 0.0 10.0 0.0 2.0 3
5 3 0.0 1

[2017-02-23 10:09] lidakanari commented on #597
@wvangeit unfortunately you are right Werner. The radius of the soma is completely ignored in principle. The actual radius is computed assuming that the points of the soma belong to the contour. This computation gives a radius that is used for the plotting of the sphere.

[2017-02-23 10:10] wvangeit commented on #597
@lidakanari But is this only used for plotting, or also in the internal representation in NeuroM (to calculate total surface areas etc)

[2017-02-23 10:18] lidakanari commented on #597
This is independent of the plotting. It is used in the internal representation of the soma.

[2017-02-23 13:24] mgeplf commented on #597
After discussion and investigation w/ @wvangeit, it seems like the best course of action is:

1. Assume that SWC, when multiple points are specified, is a series of connected cylinders, with point locations at each x, y, z, and with radius defined by r
2. If there is a single point, assume it's a sphere with radius r, at x, y, z
3. If the point count is 3, see if it follows the pattern in http://n

[2017-02-23 14:26] lidakanari commented on #597
We have made this change back and forth a few times in the past. I am a bit skeptical about this proposal...

Is it compatible with the computations here: "An equivalent radius (rs) is computed as the average distance of each point of the single contour from this center. " from the http://neuromorpho.org/SomaFormat.html ? I've discussed this issue with Giorgio and Rembrandt and they both proposed

[2017-02-23 14:34] wvangeit commented on #597
But isn't that just a format problem ? I agree that you can throw away the radii in the ASC format (and the SomaFormat quote also refers to how to get the radius from the ASC file, not from SWC).
But for SWC other tools like Neuron do take the SWC radii into account.

[2017-02-23 14:54] lidakanari commented on #597
Yes, it is obviously a file format problem. I have a proposal:

Case1: If the soma is a contour I would avoid changing the computation to assume cylinders according to the contour.
Case2: As Mike says (I think it is already like this)
Case3: If the soma is a three point ensure it is of the expected format:

According to the definition from the same link, the swc "correct" format should be:
1 xs ys

[2017-02-23 14:56] wvangeit commented on #597
But so just to be sure: Case1 doesn't exist in SWC.

And yes, for the rest, it's basically what Brian is doing: https://github.com/brian-team/brian2/blob/master/brian2/spatialneuron/morphology.py#L1040

[2017-02-23 14:58] lidakanari commented on #597
It does in practice... However the conversion into this case is obscure and depends on the converter.

[2017-02-23 14:59] mgeplf commented on #597
I agree w/ @wvangeit, except I would treat the 3 point case as the 'normal' case, unless it follows the 'neuromorpho' style, at which point it would be loaded neuromorpho style.

[2017-02-23 15:04] lidakanari commented on #597
Sure, about case 3 I think we all agree.

I don't understand the disagreement... If case1 doesn't exist why should we change how we currently treat it?

[2017-02-24 08:06] mgeplf commented on #597
Currently the SWC reader is treating the points as a contour, but in NEURON, it's treated as any other compartment style set of cylinders.  The idea would be to switch over to that representation, since the standard (http://www.neuronland.org/NLMorphologyConverter/MorphologyFormats/SWC/Spec.html), doesn't explicitly say they should be contours, and thus implicitly suggests they should be interpret

[2017-02-28 09:26] mgeplf commented on #597
So, to recap the discussion on Friday:

1) SWC doesn't do contours by default, although some software may output (we should track down these packages, and try and not use them - may need an option for the loader to specify these special cases)
2) When contours are needed, use the h5 format, now that @lidakanari has access to a script that does the   neurolucida conver to h5 more 'correctly'
3) In

[2017-02-28 16:45] lidakanari commented on #597
@mgeplf Agreed! I'd like to add that if anyone needs to produce SWC with a soma in contour format it will be better to produce an SWC+ following the conventions for the "contour soma" type. This way we can avoid misunderstandings and interpret the data correctly.

[2017-03-01 08:22] mgeplf opened #600 "Three point somas are being used for .h5 files"
h5dump of `test_data/h5/v1/Neuron.h5` gives:
[code]
When loading it, it's interpreted as a 3 point soma:
[code]

It really should be a pure contour.

[2017-03-07 07:26] jdcourcol opened #604 "plotting is slow"
It took on my laptop 28min to plot 120 figures (~14s per plot) with the following code:

[code]
I think it is way too slow.

[2017-03-07 07:28] jdcourcol commented on #604
FWIW, I noticed the following warning:
'''
venv/lib/python2.7/site-packages/matplotlib/pyplot.py:524: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
'''

[2017-03-07 08:00] mgeplf commented on #547
Duplicate of #600

[2017-03-07 08:00] #547 closed

[2017-03-07 08:02] mgeplf commented on #604
Yeah, this falls under the general cleanup of how figures are handled, specifically when more control over figure creation and closing.  Add it to the pile of stuff to do.

[2017-03-07 15:22] lidakanari opened #606 "Check Neuron.h5 in test_data (v1 and v2)"
I am not sure if this is an error according to the accepted h5 format but the Neuron.h5 in the test_data has two soma sections:
0	1	-1
1	1	0

@eleftherioszisis Could you please add a comment about this?

[2017-03-07 15:38] mgeplf commented on #606
yeah, something is wrong there, I have a ticket to fix that up #600.  However, it will take time to also update all the tests.

[2017-03-08 08:10] mgeplf commented on #600
Need to also check for multiple sections in h5 files

[2017-03-08 08:37] mgeplf commented on #604
I think I'm going to need more information:
1. What version of neurom are you using?
1. what does your `nrn = load_neuron(morph_name, release_path)` reference, as load_neuron only takes 1
2. What type of morphology are you loading?
3. If you close the figure after you've written them, does that make things faster?
[code]

[2017-03-08 09:24] jdcourcol commented on #604
1.2.1

my bad, I copy pasted old code. I am actually calling load_neuron(f) and it has only one parameter

h5v1 morphologies of type L5_TPC

I get that error:
    plot_one_neuron(nrn, 'fig', morph)
  File "/Users/courcol/DEV/plot_nrn.py", line 41, in plot_one_neuron
    plt.close(fig)
  File "/Users/courcol/DEV/venv/lib/python2.7/site-packages/matplotlib/pyplot.py", line 664, in close
    raise Ty

[2017-03-08 09:33] lidakanari commented on #604
You can either define the figure when you create it (see @mgeplf code above) or alternatively use:
[code]
which closes the last figure that was created if you have not saved your figure.

[2017-03-08 12:46] jdcourcol commented on #604
I tried with plt.close()
I don't get the warning I mentioned in my second comment anymore, but it takes the same time.

[2017-03-08 13:32] mgeplf commented on #604
Ok, I have found the problem: the plot_style is called per neurite, and this saves the figure, each time, so often the figure is saved 8 or more times.

I will fix this in the view refactoring, because it is inefficient, but in the mean time, you can speed things up by saving things yourself:
[code]

Does that make it faster?

[2017-03-08 13:43] jdcourcol commented on #604
yes, it speeds up the thing. With that, it takes 4min33s instead of more than 28min.

[2017-03-08 14:07] mgeplf commented on #604
That's the kind of speeds ups I like.

I hope to refactor some of the viewing code shortly, and I will add this to the list.

[2017-03-08 15:41] mgeplf commented on #604
I'm going to fold this into #590 and the refactoring required for that

[2017-03-08 15:41] #604 closed

[2017-03-08 15:45] mgeplf opened #607 "Refactor viewing code"
- [x] Remove AGG backend
- [x] Make sure plotting doesn't repeatedly save the figure
- [x] Make sure develop API gives more control over styling
- [ ] update examples
- [x] Update doc
- [x] test w/ old matplotlib versions
- [ ] measure performance

[2017-03-08 15:45] mgeplf commented on #590
Going to fold this into #607
Thanks for the feedback

[2017-03-08 15:45] #590 closed

[2017-03-08 15:55] mgeplf commented on #607
Currently the dependency tree is:
`neurom.viewer` depends on `view.(neuron, tree, soma neuron3d, tree3d, soma3d)`,
and `view.neuron` depends on `view.soma and view.tree`, and `view.neuron3d` on `view.tree3d, view.soma3d`.

Each of these then call plot_style, which then calls save_plot, which means that save_plot is called several times per view.neuron if output_path exists.

Since the view.* funct

[2017-03-08 15:57] mgeplf commented on #607
@lidakanari I think you wrote most of the view functionality originally, does the above make sense to you?

[2017-03-08 16:06] lidakanari commented on #607
@mgeplf I have no idea about the AGG properties (those controls were all Juan) but I agree about the rest. Do you think we could separate the save - plot style functionality and call the basic plotting options (labels, scaling etc)? If we don't the default matplotlib options will replace current functionality that had been optimized for figures that go into papers - reports etc. About the saving I

[2017-03-09 08:04] mgeplf commented on #607
If I'm understanding you correctly, yes, the plot_style stuff will stay, it just won't be called automatically (as long as I can figure out a way to make the spacing stuff work).  The proposed change would mean that developer would write:
[code]
If they want the optimized figures that you speak of.

Alternatively, they would could use the 'official' api `neurom.viewer(....)` if they want everythin

[2017-03-09 10:02] lidakanari commented on #607
Sorry for the misunderstanding. Yes, the decoupling part was clear in your description. Here's an example of an issue that might occur:

I want to create a figure of a neuron. The default behavior (matplotlib) will result in a figure that is scaled according to the last tree you've plotted, which is arbitrary. To resolve this I control the limits of the plot by calling plot_style inside the plotti

[2017-03-09 10:45] mgeplf commented on #607
I'm not sure I follow.  `plot_style` is usually the last function that is called in, say, the `neuron` function.  By moving it outside of that function, and having the user call it, it's the same call that's being made.

Setting the limits will be a bit challenging, and we may have to use plot_limits to set that inside `neuron`, etc, but I will cross that bridge when I get there.  At the moment, m

[2017-03-09 11:18] lidakanari commented on #607
I certainly agree with you that there are redundant calls and it would be great if you can fix this.

The problem is that some arguments (xlim, ylim) are computed inside the function (and that is not just a trivial function call). If you to call the plot_style inside and outside the function (for example try this to view.neuron) the results are different because the important controls (limits) are

[2017-03-16 13:58] mgeplf commented on #607
done in https://github.com/BlueBrain/NeuroM/pull/608

[2017-03-16 13:58] #607 closed

[2017-03-16 13:59] mgeplf commented on #598
did happen in https://github.com/BlueBrain/NeuroM/pull/608

[2017-03-16 13:59] #598 closed

[2017-03-16 13:59] mgeplf opened #610 "Expose functionality to get bounding boxes of populations"
I've seen it duplicated in a few places, may as well make it generic

[2017-03-17 13:36] lidakanari opened #612 "Restrict the get functionality to work with accepted neurite types"
If I call the getter with an unrecognized neurite type it returns a result which is not reasonable. I think that this operation should not be permitted or return an error / warning?

[code]
This works as expected:
[code]
This should not work but returns a result:
[code]

[2017-03-19 17:33] eleftherioszisis opened #613 "Bifurcating Soma Error"
Curated morphologies that are available in Neuromorpho are not loaded in NeuroM due to their bifurcating soma which raised a ```SomaError```.

Does this check rise from how NEURON assumes the file format? If curated data is present with bifurcating soma, I think this check should be relaxed and be present for example in morph_check. This way users that are not concerned about the validity of the s

[2017-03-19 17:57] eleftherioszisis opened #614 "First soma point error"
Second attempt to load a cell... The swc structure seems reasonable to me but I receive the following error:

[code]
where the soma points are:

[code]

Morphology:
http://neuromorpho.org/dableFiles/brumberg/CNG%20version/april11s1cell-1.CNG.swc
http://neuromorpho.org/dableFiles/brumberg/CNG%20version/inv-4-24-08-s2-cell-1.CNG.swc

[2017-03-19 18:10] juanchopanza commented on #614
The code is trying to implement the absurd 3-point soma format defined in neuromorpho.org and quoted here: https://github.com/BlueBrain/NeuroM/blob/master/neurom/core/_soma.py#L124. I think this soma doesn't satisfy the criteria.

[2017-03-19 18:15] eleftherioszisis commented on #614
This is peculiar because Markram cells seem to not satisfy these criteria as well. And on top of that the cells I posted have a three point soma.

Example from Hay, Markram from Neuromoprho:
http://neuromorpho.org/dableFiles/hay/CNG%20version/cell21.CNG.swc

[2017-03-19 18:17] lidakanari commented on #614
According to: http://neuromorpho.org/SomaFormat.html the three point soma should be represented as:
[code]
As a result the _first point_ should not be a radius below zero, but the _second_ should be a radius below the center's _y-coordinate_. I am not sure that the comment you get represents the actual reason the cell is rejected as from checking "http://neuromorpho.org/dableFiles/brumberg/CNG%20v

[2017-03-19 18:20] lidakanari commented on #614
The problem is that those restrictions forbid the loading of any neuromorpho.org morphology even though they were added to only allow neuromorpho.org curated morphologies.

[2017-03-19 18:23] juanchopanza commented on #614
My three cents: 1) relax the restrictions on morphology loading 2) figure out if there is a way to interpret the "non-conforming" somata 3) Fix the diagnostic message and verify whether the check assumes the root point has z = 0.

[2017-03-19 18:46] lidakanari commented on #614
@juanchopanza I agree with all your suggestions!

[2017-03-19 23:08] eleftherioszisis opened #615 "Drew soma, hidden in the corner."
Well, there is something amiss with the centering of the drawn soma...

[code]
![image](https://cloud.githubusercontent.com/assets/15011025/24085699/72dc1da0-0cf8-11e7-9cdd-f2667e5ef29e.png)

[2017-03-20 08:15] mgeplf commented on #615
Which version are you using?
How do you expect it to look?

[2017-03-20 08:16] mgeplf commented on #613
related to #614

[2017-03-20 08:16] #613 closed

[2017-03-20 08:30] mgeplf commented on #614
The problem comes down to distinguishing a soma containing 3 points, which should be allowable, and dealing with the 'revised' format that NeuroMorpho generates (but doesn't follow? Maybe the L-Measure version they were using doesn't conform to the standard, I will see what I can figure out).

The description Lida is accurate.

I can change the checks into just producing warnings.  People should k

[2017-03-20 08:42] arsenius7 opened #616 "Direct indexing for sections and segments"
As far as I understand, NeuroM main focus is working with _separate_ morphologies (thus access with tree-traversal iterators).

In the context of a full circuit, however, often what we want is a table-like access to segment / sections properties (for example, to find the volume of the neurites of particular type within given region).

Should it be also a responsibility of NeuroM to provide efficie